<section class="artist-template project-template">
  <div class="container">
    <div class="artist-template__wrapper">
      <div class="row">
        <div class="col-12 col-md-6 col-xl-4">
          <div class="activity__card">
            <div class="activity__card_img">
              <img src="img/project-1.jpg" alt="">
            </div>
            <div class="activity__card_text">
              <div class="activity__card_wrapper">
                <div class="content">
                  <h3>Спецпроект</h3>
                </div>
                <div class="content">
                  <div class="info-artist">
                    Наше агентство предлагает воспользоваться портфелем проектов, проводимых нами на территории России. Мы обеспечиваем разработку и проведение различных мероприятий под ключ
                  </div>
                </div>
                <div class="content">
                  <div class="price-hidden">
                      <div class="arena">
                        Стоимость организации
                      </div>
                      <div class="price">
                        <span>от</span> 300 000 <span>Руб.</span>
                      </div>
                  </div>
                </div>

                <a href="#" class="button button-blue button-card">
                  заказать
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
          <div class="activity__card">
            <div class="activity__card_img">
              <img src="img/project-1.jpg" alt="">
            </div>
            <div class="activity__card_text">
              <div class="activity__card_wrapper">
                <div class="content">
                  <h3>Спецпроект</h3>
                </div>
                <div class="content">
                  <div class="info-artist">
                    Наше агентство предлагает воспользоваться портфелем проектов, проводимых нами на территории России. Мы обеспечиваем разработку и проведение различных мероприятий под ключ
                  </div>
                </div>
                <div class="content">
                  <div class="price-hidden">
                    <div class="arena">
                      Стоимость организации
                    </div>
                    <div class="price">
                      <span>от</span> 300 000 <span>Руб.</span>
                    </div>
                  </div>
                </div>

                <a href="#" class="button button-blue button-card">
                  заказать
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
          <div class="activity__card">
            <div class="activity__card_img">
              <img src="img/project-1.jpg" alt="">
            </div>
            <div class="activity__card_text">
              <div class="activity__card_wrapper">
                <div class="content">
                  <h3>Спецпроект</h3>
                </div>
                <div class="content">
                  <div class="info-artist">
                    Наше агентство предлагает воспользоваться портфелем проектов, проводимых нами на территории России. Мы обеспечиваем разработку и проведение различных мероприятий под ключ
                  </div>
                </div>
                <div class="content">
                  <div class="price-hidden">
                    <div class="arena">
                      Стоимость организации
                    </div>
                    <div class="price">
                      <span>от</span> 300 000 <span>Руб.</span>
                    </div>
                  </div>
                </div>

                <a href="#" class="button button-blue button-card">
                  заказать
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
          <div class="activity__card">
            <div class="activity__card_img">
              <img src="img/project-1.jpg" alt="">
            </div>
            <div class="activity__card_text">
              <div class="activity__card_wrapper">
                <div class="content">
                  <h3>Спецпроект</h3>
                </div>
                <div class="content">
                  <div class="info-artist">
                    Наше агентство предлагает воспользоваться портфелем проектов, проводимых нами на территории России. Мы обеспечиваем разработку и проведение различных мероприятий под ключ
                  </div>
                </div>
                <div class="content">
                  <div class="price-hidden">
                    <div class="arena">
                      Стоимость организации
                    </div>
                    <div class="price">
                      <span>от</span> 300 000 <span>Руб.</span>
                    </div>
                  </div>
                </div>

                <a href="#" class="button button-blue button-card">
                  заказать
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
          <div class="activity__card">
            <div class="activity__card_img">
              <img src="img/project-1.jpg" alt="">
            </div>
            <div class="activity__card_text">
              <div class="activity__card_wrapper">
                <div class="content">
                  <h3>Спецпроект</h3>
                </div>
                <div class="content">
                  <div class="info-artist">
                    Наше агентство предлагает воспользоваться портфелем проектов, проводимых нами на территории России. Мы обеспечиваем разработку и проведение различных мероприятий под ключ
                  </div>
                </div>
                <div class="content">
                  <div class="price-hidden">
                    <div class="arena">
                      Стоимость организации
                    </div>
                    <div class="price">
                      <span>от</span> 300 000 <span>Руб.</span>
                    </div>
                  </div>
                </div>

                <a href="#" class="button button-blue button-card">
                  заказать
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
          <div class="activity__card">
            <div class="activity__card_img">
              <img src="img/project-1.jpg" alt="">
            </div>
            <div class="activity__card_text">
              <div class="activity__card_wrapper">
                <div class="content">
                  <h3>Спецпроект</h3>
                </div>
                <div class="content">
                  <div class="info-artist">
                    Наше агентство предлагает воспользоваться портфелем проектов, проводимых нами на территории России. Мы обеспечиваем разработку и проведение различных мероприятий под ключ
                  </div>
                </div>
                <div class="content">
                  <div class="price-hidden">
                    <div class="arena">
                      Стоимость организации
                    </div>
                    <div class="price">
                      <span>от</span> 300 000 <span>Руб.</span>
                    </div>
                  </div>
                </div>

                <a href="#" class="button button-blue button-card">
                  заказать
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
          <div class="activity__card">
            <div class="activity__card_img">
              <img src="img/project-1.jpg" alt="">
            </div>
            <div class="activity__card_text">
              <div class="activity__card_wrapper">
                <div class="content">
                  <h3>Спецпроект</h3>
                </div>
                <div class="content">
                  <div class="info-artist">
                    Наше агентство предлагает воспользоваться портфелем проектов, проводимых нами на территории России. Мы обеспечиваем разработку и проведение различных мероприятий под ключ
                  </div>
                </div>
                <div class="content">
                  <div class="price-hidden">
                    <div class="arena">
                      Стоимость организации
                    </div>
                    <div class="price">
                      <span>от</span> 300 000 <span>Руб.</span>
                    </div>
                  </div>
                </div>

                <a href="#" class="button button-blue button-card">
                  заказать
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
          <div class="activity__card">
            <div class="activity__card_img">
              <img src="img/project-1.jpg" alt="">
            </div>
            <div class="activity__card_text">
              <div class="activity__card_wrapper">
                <div class="content">
                  <h3>Спецпроект</h3>
                </div>
                <div class="content">
                  <div class="info-artist">
                    Наше агентство предлагает воспользоваться портфелем проектов, проводимых нами на территории России. Мы обеспечиваем разработку и проведение различных мероприятий под ключ
                  </div>
                </div>
                <div class="content">
                  <div class="price-hidden">
                    <div class="arena">
                      Стоимость организации
                    </div>
                    <div class="price">
                      <span>от</span> 300 000 <span>Руб.</span>
                    </div>
                  </div>
                </div>

                <a href="#" class="button button-blue button-card">
                  заказать
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
          <div class="activity__card">
            <div class="activity__card_img">
              <img src="img/project-1.jpg" alt="">
            </div>
            <div class="activity__card_text">
              <div class="activity__card_wrapper">
                <div class="content">
                  <h3>Спецпроект</h3>
                </div>
                <div class="content">
                  <div class="info-artist">
                    Наше агентство предлагает воспользоваться портфелем проектов, проводимых нами на территории России. Мы обеспечиваем разработку и проведение различных мероприятий под ключ
                  </div>
                </div>
                <div class="content">
                  <div class="price-hidden">
                    <div class="arena">
                      Стоимость организации
                    </div>
                    <div class="price">
                      <span>от</span> 300 000 <span>Руб.</span>
                    </div>
                  </div>
                </div>

                <a href="#" class="button button-blue button-card">
                  заказать
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <a href="#" class="button button-small button-gray button-center">
          смотреть все
        </a>
      </div>
    </div>
  </div>
</section>
