<section class="promotions">
  <div class="category-filter">
    <div class="container">
      <form action="" class="filter">
        <div class="filter-elem date">
          <label class="filter-title">
            Дата
          </label>
          <div class="controls">
            <input type="hidden" name="date_from" value="">
            <input type="hidden" name="date_to" value="">
            <div class="datapicker-wrapper">
              <div class="datepicker-here">
              </div>
            </div>
            <ul class="checklist" data-tpl="light">
              <li>
                <input type="checkbox" value="this-week" id="this-week" class="radio-filter" name="data-filter">
                <label for="this-week" class="filter-data-check">
                  На этой неделе
                </label>
              </li>
              <li>
                <input type="checkbox" value="for-this-weekend" id="for-this-weekend" class="radio-filter" name="data-filter">
                <label for="for-this-weekend" class="filter-data-check">
                  В эти выходные
                </label>
              </li>
              <li>
                <input type="checkbox" value="next-week" id="next-week" class="radio-filter" name="data-filter" checked>
                <label for="next-week" class="filter-data-check">
                  На следующей неделе
                </label>
              </li>
            </ul>
            <div class="clear-filter">
              Сбросить все
            </div>
          </div>
        </div>
        <div class="filter-elem price">
          <label class="filter-title">
            Стоимость
          </label>
          <div class="controls">
            <input type="hidden" name="price" value="">
            <div class="range">
              <input type="text" class="js-range-slider" name="my_range" value="" />
            </div>
          </div>
        </div>
        <div class="filter-elem venues-block">
          <label class="venues_open">
            Площадки
          </label>
        </div>
        <div class="filter-elem checklist">
          <input type="checkbox" value="yes" id="checkbox-filter" class="checkbox-filter" name="discount" disabled checked >
          <label for="checkbox-filter" class="checkbox-label">
            Билеты со скидкой
          </label>
        </div>
        <div class="clear-filter clear-filter_right">
          Сбросить все
        </div>
      </form>
    </div>
  </div>
  <div class="container">
    <div class="promotions__wrapper">
      <div class="row">
        <div class="col-12 col-md-6 col-xl-4">
          <div class="activity__card">
            <div class="activity__card_img">
              <img src="img/activity-card-1.jpg" alt="">
            </div>
            <div class="activity__card_text">
              <div class="activity__card_wrapper">
                <div class="content">
                  <div class="data">
                    22 <span>ДЕК.</span> – 07 <span>ЯНВ.</span>
                  </div>
                  <h3>Главный секрет деда мороза</h3>
                </div>
                <div class="content">
                  <div class="arena">
                    Crocus City Hall
                  </div>
                  <div class="price">
                    1 600 – 3 700 <span>Руб.</span>
                  </div>
                </div>
                <div class="discount">
                  50%
                </div>
                <a href="#" class="button button-blue button-card">
                  Купить билет
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
          <div class="activity__card">
            <div class="activity__card_img">
              <img src="img/activity-card-1.jpg" alt="">
            </div>
            <div class="activity__card_text">
              <div class="activity__card_wrapper">
                <div class="content">
                  <div class="data">
                    22 <span>ДЕК.</span> – 07 <span>ЯНВ.</span>
                  </div>
                  <h3>Главный секрет деда мороза</h3>
                </div>
                <div class="content">
                  <div class="arena">
                    Crocus City Hall
                  </div>
                  <div class="price">
                    1 600 – 3 700 <span>Руб.</span>
                  </div>
                </div>
                <div class="discount">
                  50%
                </div>
                <a href="#" class="button button-blue button-card">
                  Купить билет
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
          <div class="activity__card">
            <div class="activity__card_img">
              <img src="img/activity-card-1.jpg" alt="">
            </div>
            <div class="activity__card_text">
              <div class="activity__card_wrapper">
                <div class="content">
                  <div class="data">
                    22 <span>ДЕК.</span> – 07 <span>ЯНВ.</span>
                  </div>
                  <h3>Главный секрет деда мороза</h3>
                </div>
                <div class="content">
                  <div class="arena">
                    Crocus City Hall
                  </div>
                  <div class="price">
                    1 600 – 3 700 <span>Руб.</span>
                  </div>
                </div>
                <div class="discount">
                  50%
                </div>
                <a href="#" class="button button-blue button-card">
                  Купить билет
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
          <div class="activity__card">
            <div class="activity__card_img">
              <img src="img/activity-card-1.jpg" alt="">
            </div>
            <div class="activity__card_text">
              <div class="activity__card_wrapper">
                <div class="content">
                  <div class="data">
                    22 <span>ДЕК.</span> – 07 <span>ЯНВ.</span>
                  </div>
                  <h3>Главный секрет деда мороза</h3>
                </div>
                <div class="content">
                  <div class="arena">
                    Crocus City Hall
                  </div>
                  <div class="price">
                    1 600 – 3 700 <span>Руб.</span>
                  </div>
                </div>
                <div class="discount">
                  50%
                </div>
                <a href="#" class="button button-blue button-card">
                  Купить билет
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
          <div class="activity__card">
            <div class="activity__card_img">
              <img src="img/activity-card-1.jpg" alt="">
            </div>
            <div class="activity__card_text">
              <div class="activity__card_wrapper">
                <div class="content">
                  <div class="data">
                    22 <span>ДЕК.</span> – 07 <span>ЯНВ.</span>
                  </div>
                  <h3>Главный секрет деда мороза</h3>
                </div>
                <div class="content">
                  <div class="arena">
                    Crocus City Hall
                  </div>
                  <div class="price">
                    1 600 – 3 700 <span>Руб.</span>
                  </div>
                </div>
                <div class="discount">
                  50%
                </div>
                <a href="#" class="button button-blue button-card">
                  Купить билет
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
          <div class="activity__card">
            <div class="activity__card_img">
              <img src="img/activity-card-1.jpg" alt="">
            </div>
            <div class="activity__card_text">
              <div class="activity__card_wrapper">
                <div class="content">
                  <div class="data">
                    22 <span>ДЕК.</span> – 07 <span>ЯНВ.</span>
                  </div>
                  <h3>Главный секрет деда мороза</h3>
                </div>
                <div class="content">
                  <div class="arena">
                    Crocus City Hall
                  </div>
                  <div class="price">
                    1 600 – 3 700 <span>Руб.</span>
                  </div>
                </div>
                <div class="discount">
                  50%
                </div>
                <a href="#" class="button button-blue button-card">
                  Купить билет
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
          <div class="activity__card">
            <div class="activity__card_img">
              <img src="img/activity-card-1.jpg" alt="">
            </div>
            <div class="activity__card_text">
              <div class="activity__card_wrapper">
                <div class="content">
                  <div class="data">
                    22 <span>ДЕК.</span> – 07 <span>ЯНВ.</span>
                  </div>
                  <h3>Главный секрет деда мороза</h3>
                </div>
                <div class="content">
                  <div class="arena">
                    Crocus City Hall
                  </div>
                  <div class="price">
                    1 600 – 3 700 <span>Руб.</span>
                  </div>
                </div>
                <div class="discount">
                  50%
                </div>
                <a href="#" class="button button-blue button-card">
                  Купить билет
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
          <div class="activity__card">
            <div class="activity__card_img">
              <img src="img/activity-card-1.jpg" alt="">
            </div>
            <div class="activity__card_text">
              <div class="activity__card_wrapper">
                <div class="content">
                  <div class="data">
                    22 <span>ДЕК.</span> – 07 <span>ЯНВ.</span>
                  </div>
                  <h3>Главный секрет деда мороза</h3>
                </div>
                <div class="content">
                  <div class="arena">
                    Crocus City Hall
                  </div>
                  <div class="price">
                    1 600 – 3 700 <span>Руб.</span>
                  </div>
                </div>
                <div class="discount">
                  50%
                </div>
                <a href="#" class="button button-blue button-card">
                  Купить билет
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
          <div class="activity__card">
            <div class="activity__card_img">
              <img src="img/activity-card-1.jpg" alt="">
            </div>
            <div class="activity__card_text">
              <div class="activity__card_wrapper">
                <div class="content">
                  <div class="data">
                    22 <span>ДЕК.</span> – 07 <span>ЯНВ.</span>
                  </div>
                  <h3>Главный секрет деда мороза</h3>
                </div>
                <div class="content">
                  <div class="arena">
                    Crocus City Hall
                  </div>
                  <div class="price">
                    1 600 – 3 700 <span>Руб.</span>
                  </div>
                </div>
                <div class="discount">
                  50%
                </div>
                <a href="#" class="button button-blue button-card">
                  Купить билет
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
          <div class="activity__card">
            <div class="activity__card_img">
              <img src="img/activity-card-1.jpg" alt="">
            </div>
            <div class="activity__card_text">
              <div class="activity__card_wrapper">
                <div class="content">
                  <div class="data">
                    22 <span>ДЕК.</span> – 07 <span>ЯНВ.</span>
                  </div>
                  <h3>Главный секрет деда мороза</h3>
                </div>
                <div class="content">
                  <div class="arena">
                    Crocus City Hall
                  </div>
                  <div class="price">
                    1 600 – 3 700 <span>Руб.</span>
                  </div>
                </div>
                <div class="discount">
                  50%
                </div>
                <a href="#" class="button button-blue button-card">
                  Купить билет
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
          <div class="activity__card">
            <div class="activity__card_img">
              <img src="img/activity-card-1.jpg" alt="">
            </div>
            <div class="activity__card_text">
              <div class="activity__card_wrapper">
                <div class="content">
                  <div class="data">
                    22 <span>ДЕК.</span> – 07 <span>ЯНВ.</span>
                  </div>
                  <h3>Главный секрет деда мороза</h3>
                </div>
                <div class="content">
                  <div class="arena">
                    Crocus City Hall
                  </div>
                  <div class="price">
                    1 600 – 3 700 <span>Руб.</span>
                  </div>
                </div>
                <div class="discount">
                  50%
                </div>
                <a href="#" class="button button-blue button-card">
                  Купить билет
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4">
          <div class="activity__card">
            <div class="activity__card_img">
              <img src="img/activity-card-1.jpg" alt="">
            </div>
            <div class="activity__card_text">
              <div class="activity__card_wrapper">
                <div class="content">
                  <div class="data">
                    22 <span>ДЕК.</span> – 07 <span>ЯНВ.</span>
                  </div>
                  <h3>Главный секрет деда мороза</h3>
                </div>
                <div class="content">
                  <div class="arena">
                    Crocus City Hall
                  </div>
                  <div class="price">
                    1 600 – 3 700 <span>Руб.</span>
                  </div>
                </div>
                <div class="discount">
                  50%
                </div>
                <a href="#" class="button button-blue button-card">
                  Купить билет
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <a href="#" class="button button-small button-gray button-center">
          смотреть все
        </a>
      </div>
    </div>
  </div>
</section>
