.button
	display: inline-block
	text-align: center
	min-width: 193px
	padding: 17px 15px
	color: $white
	font-family: $title-font
	font-weight: 400
	font-size: 24px
	letter-spacing: 0.075em
	line-height: 1em
	border: 1px solid $white
	margin: 0 10px
	position: relative
	z-index: 1
	transition: all .3s ease
	cursor: pointer
	span
		font-size: 16px
	&-tabs
		min-width: 140px

		margin-bottom: 10px

	&-card
		display: none
	&-gray
		color: $lochmara
		border-color: $nobel
	&-small
		font-size: 18px
		padding: 11px 13px
	&-center
		margin: 0 auto
	&-services
		margin-bottom: 200px
		+r(1199)
			margin-bottom: 150px
		+r(991)
			margin-bottom: 100px
		+r(767)
			margin-bottom: 60px

	&:hover
		border-color: $lochmara
		background: rgba(0, 139, 208, 0.2)
	&-blue
		border-color: $lochmara
		background: $lochmara
		&:hover
			background: $white
			color: $lochmara
	&:active
		border-color: $white
	&__wrapper
		margin-top: auto
		a
			+r(575)
				&:first-child
					margin-bottom: 10px
	&__wrapper-center
		text-align: center
	&-link
		display: inline-block
		color: #008bd0
		position: relative
		font-weight: 600
		+r(575)
			margin: 20px
		&::after
			position: absolute
			content: ''
			width: 100%
			height: 1px
			background: #008bd0
			bottom: 0
			left: 0
			right: 0
			z-index: -1
			transition: all .5s ease
		&:hover
			&::after
				width: 0
				bottom: 0
				left: auto
				right: 0
				z-index: -1
.title
	text-align: center
	margin-bottom: 63px
	+r(565)
		margin-bottom: 30px
	h2
		font-family: $title-font
		font-weight: 700
		font-size: 60px
		line-height: 1em
		letter-spacing: 0.075em
		color: $black
		+r(767)
			font-size: 48px
		+r(565)
			font-size: 36px
	h3
		font-family: $default-font
		font-size: 20px
		font-weight: 400
		margin-bottom: 45px
		+r(991)
			font-size: 18px
		+r(767)
			font-size: 16px
			margin-bottom: 30px
		+r(575)
			margin-bottom: 20px
	&-white
		h2
			color: $white
		h3
			color: $white
	&-left
		text-align: left
		+r(767)
			text-align: center
.festival, .activity
	&__card
		&_text
			.data
				font-size: 14px
				margin-bottom: 6px
				color: $tundora
				span
					font-size: 10px
					text-transform: uppercase
			h3
				font-family: $title-font
				font-weight: 700
				font-size: 30px
				color: $blue-charcoal
				line-height: 1.1em
				letter-spacing: 0.05em
				position: relative
				max-height: 72px
				overflow: hidden
				text-overflow: ellipsis
				margin-bottom: 20px
			.arena
				font-size: 14px
				color: $tundora
				margin-bottom: 6px
			.price
				font-family: $title-font
				font-weight: 700
				font-size: 30px
				letter-spacing: 0.05em
				line-height: 1.1em
				+text-overflow
				span
					text-transform: uppercase
					font-size: 18px
					letter-spacing: 0


