html, body
	font-family: $default-font
	font-weight: 400
	font-style: normal
	font-size: 16px
	line-height: 1.5em
	overflow-x: hidden
	position: relative
	min-width: 320px
h2,h3
	margin: 0

ul
	margin: 0
	padding: 0
	list-style-type: none

a,
a:focus,
a:hover
	outline: none
	text-decoration: none
section
	position: relative
