<section class="about-template">
  <div class="container">
    <div class="about-tabs-content__wrapper">
      <div class="about__wrapper about-tabs-content">
        <div class="about__img">
          <img src="img/about.jpg" alt="">
        </div>
        <div class="about__text">
          <div class="title title-left">
            <h2>
              О компании в 2012
            </h2>
          </div>
          <p>
            Event агентство " ARENA"- это не простая организация мероприятий, это неординарное решения для Вас и Ваших гостей.
          </p>
          <p>
            Мы можем организовать мероприятие независимо от вашего бюджета и статуса.
          </p>
          <p>
            К каждому клиенту у нас определённый подход и только компромиссные решения. Хотите свадьбу под Ключ?
          </p>
          <p>
            Незабываемую вечеринку? Яркий юбилей или день рождения? Детский праздник?Тогда вы нашли то что вам нужно!
          </p>
          <p>
            Мы не просто новое начало, мы продолжение чего-то большего!
          </p>
          <p>
            БУДУЩЕЕ УЖЕ СЕГОДНЯ!
          </p>
          <p>
            «Event Arena Moscow» регулярно принимает участие в организации значимых мероприятий города Москвы. Мы активно сотрудничаем с Комитетом по делам молодёжи, Управлением культуры и Администрацией российской столицы.
          </p>
          <p>
            Мы создаем всевозможные события, умело совмещая развлекательные и учебные, командообразующие и мотивационные мероприятия. Каждый организационный формат индивидуально прорабатывается нашей командой профессионалов.
          </p>
          <p>
            Артисты нашего лейбла участвуют в значимых государственных мероприятиях, таких как День России, и выступают на крупнейших площадках Москвы и других городов
          </p>
        </div>
      </div>
      <div class="about__wrapper about-tabs-content">
        <div class="about__img">
          <img src="img/about.jpg" alt="">
        </div>
        <div class="about__text">
          <div class="title title-left">
            <h2>
              О компании в 2013
            </h2>
          </div>
          <p>
            Event агентство " ARENA"- это не простая организация мероприятий, это неординарное решения для Вас и Ваших гостей.
          </p>
          <p>
            Мы можем организовать мероприятие независимо от вашего бюджета и статуса.
          </p>
          <p>
            К каждому клиенту у нас определённый подход и только компромиссные решения. Хотите свадьбу под Ключ?
          </p>
          <p>
            Незабываемую вечеринку? Яркий юбилей или день рождения? Детский праздник?Тогда вы нашли то что вам нужно!
          </p>
          <p>
            Мы не просто новое начало, мы продолжение чего-то большего!
          </p>
          <p>
            БУДУЩЕЕ УЖЕ СЕГОДНЯ!
          </p>
          <p>
            «Event Arena Moscow» регулярно принимает участие в организации значимых мероприятий города Москвы. Мы активно сотрудничаем с Комитетом по делам молодёжи, Управлением культуры и Администрацией российской столицы.
          </p>
          <p>
            Мы создаем всевозможные события, умело совмещая развлекательные и учебные, командообразующие и мотивационные мероприятия. Каждый организационный формат индивидуально прорабатывается нашей командой профессионалов.
          </p>
          <p>
            Артисты нашего лейбла участвуют в значимых государственных мероприятиях, таких как День России, и выступают на крупнейших площадках Москвы и других городов
          </p>
        </div>
      </div>
      <div class="about__wrapper about-tabs-content">
        <div class="about__img">
          <img src="img/about.jpg" alt="">
        </div>
        <div class="about__text">
          <div class="title title-left">
            <h2>
              О компании в 2015
            </h2>
          </div>
          <p>
            Event агентство " ARENA"- это не простая организация мероприятий, это неординарное решения для Вас и Ваших гостей.
          </p>
          <p>
            Мы можем организовать мероприятие независимо от вашего бюджета и статуса.
          </p>
          <p>
            К каждому клиенту у нас определённый подход и только компромиссные решения. Хотите свадьбу под Ключ?
          </p>
          <p>
            Незабываемую вечеринку? Яркий юбилей или день рождения? Детский праздник?Тогда вы нашли то что вам нужно!
          </p>
          <p>
            Мы не просто новое начало, мы продолжение чего-то большего!
          </p>
          <p>
            БУДУЩЕЕ УЖЕ СЕГОДНЯ!
          </p>
          <p>
            «Event Arena Moscow» регулярно принимает участие в организации значимых мероприятий города Москвы. Мы активно сотрудничаем с Комитетом по делам молодёжи, Управлением культуры и Администрацией российской столицы.
          </p>
          <p>
            Мы создаем всевозможные события, умело совмещая развлекательные и учебные, командообразующие и мотивационные мероприятия. Каждый организационный формат индивидуально прорабатывается нашей командой профессионалов.
          </p>
          <p>
            Артисты нашего лейбла участвуют в значимых государственных мероприятиях, таких как День России, и выступают на крупнейших площадках Москвы и других городов
          </p>
        </div>
      </div>
      <div class="about__wrapper about-tabs-content">
        <div class="about__img">
          <img src="img/about.jpg" alt="">
        </div>
        <div class="about__text">
          <div class="title title-left">
            <h2>
              О компании в 2018
            </h2>
          </div>
          <p>
            Event агентство " ARENA"- это не простая организация мероприятий, это неординарное решения для Вас и Ваших гостей.
          </p>
          <p>
            Мы можем организовать мероприятие независимо от вашего бюджета и статуса.
          </p>
          <p>
            К каждому клиенту у нас определённый подход и только компромиссные решения. Хотите свадьбу под Ключ?
          </p>
          <p>
            Незабываемую вечеринку? Яркий юбилей или день рождения? Детский праздник?Тогда вы нашли то что вам нужно!
          </p>
          <p>
            Мы не просто новое начало, мы продолжение чего-то большего!
          </p>
          <p>
            БУДУЩЕЕ УЖЕ СЕГОДНЯ!
          </p>
          <p>
            «Event Arena Moscow» регулярно принимает участие в организации значимых мероприятий города Москвы. Мы активно сотрудничаем с Комитетом по делам молодёжи, Управлением культуры и Администрацией российской столицы.
          </p>
          <p>
            Мы создаем всевозможные события, умело совмещая развлекательные и учебные, командообразующие и мотивационные мероприятия. Каждый организационный формат индивидуально прорабатывается нашей командой профессионалов.
          </p>
          <p>
            Артисты нашего лейбла участвуют в значимых государственных мероприятиях, таких как День России, и выступают на крупнейших площадках Москвы и других городов
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
