<section class="advantages cards-section">
  <div class="container">
    <div class="title">
      <h2>
        Этапы заказа мероприятия
      </h2>
    </div>
    <div class="row">
      <div class="col col-md-6 col-xl-4">
        <div class="advantages__card">
          <div class="advantages__card_img">
            <span>01</span>
          </div>
          <div class="advantages__card_text">
            <h3>Обращение или заявка</h3>
            <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться</p>
          </div>
        </div>
      </div>
      <div class="col col-md-6 col-xl-4">
        <div class="advantages__card">
          <div class="advantages__card_img">
            <span>02</span>
          </div>
          <div class="advantages__card_text">
            <h3>Разработка концепции</h3>
            <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться</p>
          </div>
        </div>
      </div>
      <div class="col col-md-6 col-xl-4">
        <div class="advantages__card">
          <div class="advantages__card_img">
            <span>03</span>
          </div>
          <div class="advantages__card_text">
            <h3>Качественная реализация проекта</h3>
            <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
