<section class="artists">
  <div class="container">
    <div class="title title-white">
      <h2>
        Наша команда
      </h2>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-xl-3">
        <div class="artists__block">
          <div class="artists__block_img">
            <img src="img/comand-1.jpg" alt="">
          </div>
          <h3>
            ГРИГОРИЙ ШЕВЧЕНКО
          </h3>
          <span>
          директор
        </span>
          <p>
            Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться
          </p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-xl-3">
        <div class="artists__block">
          <div class="artists__block_img">
            <img src="img/comand-2.jpg" alt="">
          </div>
          <h3>
            ИВАН ЗАЕЦ
          </h3>
          <span>
          ивент-менеджер
        </span>
          <p>
            Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться
          </p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-xl-3">
        <div class="artists__block">
          <div class="artists__block_img">
            <img src="img/comand-3.jpg" alt="">
          </div>
          <h3>
            СЕРГЕЙ ЯСТРЕМСКИЙ
          </h3>
          <span>
          техническое обеспечение
        </span>
          <p>
            Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться
          </p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-xl-3">
        <div class="artists__block">
          <div class="artists__block_img">
            <img src="img/comand-4.jpg" alt="">
          </div>
          <h3>
            АНТОНИНА ПАШНИНА
          </h3>
          <span>
          креативный директор
        </span>
          <p>
            Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться
          </p>
        </div>
      </div>

    </div>
    <div class="row">
      <a href="#" class="button button-small button-center">
        перейти к услугам
      </a>
    </div>
  </div>
</section>
