<section class="first-screen-template first-screen-about" style="background-image: url('img/template-fs-bg.jpg')">
  <div class="container">
    <div class="title title-white">
      <h2>
       О нашей компании
      </h2>
    </div>
    <div class="about-tabs-nav__wrapper">
      <div href="#" class="about-tabs-nav button button-small button-gray button-tabs">
        2012
      </div>
      <div href="#" class="about-tabs-nav button button-small button-gray button-tabs">
        2013
      </div>
      <div href="#" class="about-tabs-nav button button-small button-gray button-tabs">
        2014-2015
      </div>
      <div href="#" class="about-tabs-nav button button-small button-gray button-tabs">
        2016-2018
      </div>
    </div>
    <div class="bread-crumb">
      <a href="index.html">
        Главная
      </a>
      <span>
        Новости
      </span>
    </div>
  </div>
</section>
