<section class="licenses">
  <div class="container">
    <div class="title">
      <h2>
        лицензии и сертификаты
      </h2>
    </div>
    <div class="licenses__slider">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="img/lc-1.jpg" data-fancybox="licenses">
              <img src="img/lc-1.jpg" alt="">
            </a>
          </div>
          <div class="swiper-slide">
            <a href="img/lc-2.jpg" data-fancybox="licenses">
              <img src="img/lc-2.jpg" alt="">
            </a>
          </div>
          <div class="swiper-slide">
            <a href="img/lc-3.jpg" data-fancybox="licenses">
              <img src="img/lc-3.jpg" alt="">
            </a>
          </div>
          <div class="swiper-slide">
            <a href="img/lc-4.jpg" data-fancybox="licenses">
              <img src="img/lc-4.jpg" alt="">
            </a>
          </div>
          <div class="swiper-slide">
            <a href="img/lc-1.jpg" data-fancybox="licenses">
              <img src="img/lc-1.jpg" alt="">
            </a>
          </div>
          <div class="swiper-slide">
            <a href="img/lc-2.jpg" data-fancybox="licenses">
              <img src="img/lc-2.jpg" alt="">
            </a>
          </div>
          <div class="swiper-slide">
            <a href="img/lc-3.jpg" data-fancybox="licenses">
              <img src="img/lc-3.jpg" alt="">
            </a>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
