<section class="about for-partners services-open-page">
  <div class="container">
    <div class="about__wrapper">
      <div class="about__img">
        <img src="img/serv-info.jpg" alt="">
      </div>
      <div class="about__text services__text">
        <div class="title title-left">
          <h2>
            День рождения
          </h2>
        </div>
        <ul>
          <li>
            Разработка оригинальной тематики и написание эксклюзивного сценария праздника
          </li>
          <li>
            Подбор идеального места для празднования: ресторана, клуба, загородного комплекса и т.п., тематическое оформление площадки или помещения
          </li>
          <li>
            Развлекательная шоу-программа с профессиональными ведущими, веселыми небанальными конкурсами и выступлением артистов любых жанров
          </li>
          <li>
            Техническое обеспечение: сцена, звук, свет, фото и видео съемка
          </li>
          <li>
            Разработка меню, организация банкета, фуршета, кейтеринга, изготовление оригинального торта
          </li>
          <li>
            И еще 1000 других услуг по организации и проведению именин
          </li>
        </ul>
        <a href="#" class="button button-blue">
          <span>от</span> 200 000  <span>руб.</span>
        </a>
      </div>
    </div>
  </div>
</section>
