<section class="press-release">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="title title-left">
          <h2>
            Пресс-релиз
            мероприятия
          </h2>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="press-release__text">
          <p>
            Ивент-агентство «ДARENA» проводит самые яркие и запоминающиеся вечеринки по случаю Дня Рождения! Полностью организуем «под ключ» и весело проведем Ваш день рождения или юбилей! Возьмем на себя все организационные вопросы, разработаем оригинальную праздничную программу, предоставим услуги профессиональных ведущих и лучших артистов!
          </p>
          <p>
            Креативная команда ивент-агентства «ARENA» готова реализовать самые смелые пожелания именинника. Специально для Вас мы напишем уникальный сценарий, составим интересную шоу программу, организуем выступление любых артистов, поможем выбрать идеальное место для проведения вечеринки и украсим его в соответствии с тематикой праздника, обеспечим транспорт, предоставим профессиональных операторов и техников.
          </p>
          <p>
            Event агентство " ARENA"- это не простая организация мероприятий, это неординарное решения для Вас и Ваших гостей. Мы можем организовать мероприятие независимо от вашего бюджета и статуса. К каждому клиенту у нас определённый подход и только компромиссные решения. Хотите свадьбу под Ключ? Незабываемую вечеринку? Яркий юбилей или день рождения? Детский праздник? Тогда вы нашли то что вам нужно!
          </p>
          <p>
            Мы не просто новое начало, мы продолжение чего-то большего!
          </p>
          <p>
            БУДУЩЕЕ УЖЕ СЕГОДНЯ!
          </p>
          <p>
            Ивент-агентство «ДARENA» проводит самые яркие и запоминающиеся вечеринки по случаю Дня Рождения! Полностью организуем «под ключ» и весело проведем Ваш день рождения или юбилей! Возьмем на себя все организационные вопросы, разработаем оригинальную праздничную программу, предоставим услуги профессиональных ведущих и лучших артистов!
          </p>
          <p>
            Креативная команда ивент-агентства «ARENA» готова реализовать самые смелые пожелания именинника. Специально для Вас мы напишем уникальный сценарий, составим интересную шоу программу, организуем выступление любых артистов, поможем выбрать идеальное место для проведения вечеринки и украсим его в соответствии с тематикой праздника, обеспечим транспорт, предоставим профессиональных операторов и техников.
          </p>
          <p>
            Event агентство " ARENA"- это не простая организация мероприятий, это неординарное решения для Вас и Ваших гостей. Мы можем организовать мероприятие независимо от вашего бюджета и статуса. К каждому клиенту у нас определённый подход и только компромиссные решения. Хотите свадьбу под Ключ? Незабываемую вечеринку? Яркий юбилей или день рождения? Детский праздник? Тогда вы нашли то что вам нужно!
          </p>
          <p>
            Мы не просто новое начало, мы продолжение чего-то большего!
          </p>
          <p>
            БУДУЩЕЕ УЖЕ СЕГОДНЯ!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
