<section class="about">
  <div class="container">

    <div class="about__wrapper">
      <div class="about__img">
        <img src="img/about.jpg" alt="">
      </div>
      <div class="about__text">
        <div class="title title-left">
          <h2>
            О компании
          </h2>
        </div>
        <p>
          Event агентство " ARENA"- это не простая организация мероприятий, это неординарное решения для Вас и Ваших гостей.
        </p>
        <p>
          Мы можем организовать мероприятие независимо от вашего бюджета и статуса.
        </p>
        <p>
          К каждому клиенту у нас определённый подход и только компромиссные решения. Хотите свадьбу под Ключ?
        </p>
        <p>
          Незабываемую вечеринку? Яркий юбилей или день рождения? Детский праздник?Тогда вы нашли то что вам нужно!
        </p>
        <p>
          Мы не просто новое начало, мы продолжение чего-то большего!
        </p>
        <p>
          БУДУЩЕЕ УЖЕ СЕГОДНЯ!
        </p>
        <a href="#" class="button button-small button-gray button-center">
          о компании
        </a>
        <div class="sub-description">
          <img src="img/sub-description.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
