<section class="activity">

  <div class="container">
    <div class="title">
      <h2>
        Мероприятия
      </h2>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 col-xl-4">
        <div class="activity__card">
          <div class="activity__card_img">
            <img src="img/activity-card-1.jpg" alt="">
          </div>
          <div class="activity__card_text">
            <div class="activity__card_wrapper">
              <div class="content">
                <div class="data">
                  22 <span>ДЕК.</span> – 07 <span>ЯНВ.</span>
                </div>
                <h3>Главный секрет деда мороза</h3>
              </div>
              <div class="content">
                <div class="arena">
                  Crocus City Hall
                </div>
                <div class="price">
                  1 600 – 3 700 <span>Руб.</span>
                </div>
              </div>
              <a href="#" class="button button-blue button-card">
                Купить билет
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-4">
        <div class="activity__card">
          <div class="activity__card_img">
            <img src="img/activity-card-1.jpg" alt="">
          </div>
          <div class="activity__card_text">
            <div class="activity__card_wrapper">
              <div class="content">
                <div class="data">
                  22 <span>ДЕК.</span> – 07 <span>ЯНВ.</span>
                </div>
                <h3>Главный секрет деда мороза</h3>
              </div>
              <div class="content">
                <div class="arena">
                  Crocus City Hall
                </div>
                <div class="price">
                  1 600 – 3 700 <span>Руб.</span>
                </div>
              </div>
              <a href="#" class="button button-blue button-card">
                Купить билет
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-4">
        <div class="activity__card">
          <div class="activity__card_img">
            <img src="img/activity-card-1.jpg" alt="">
          </div>
          <div class="activity__card_text">
            <div class="activity__card_wrapper">
              <div class="content">
                <div class="data">
                  22 <span>ДЕК.</span> – 07 <span>ЯНВ.</span>
                </div>
                <h3>Главный секрет деда мороза</h3>
              </div>
              <div class="content">
                <div class="arena">
                  Crocus City Hall
                </div>
                <div class="price">
                  1 600 – 3 700 <span>Руб.</span>
                </div>
              </div>
              <a href="#" class="button button-blue button-card">
                Купить билет
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-4">
        <div class="activity__card">
          <div class="activity__card_img">
            <img src="img/activity-card-1.jpg" alt="">
          </div>
          <div class="activity__card_text">
            <div class="activity__card_wrapper">
              <div class="content">
                <div class="data">
                  22 <span>ДЕК.</span> – 07 <span>ЯНВ.</span>
                </div>
                <h3>Главный секрет деда мороза</h3>
              </div>
              <div class="content">
                <div class="arena">
                  Crocus City Hall
                </div>
                <div class="price">
                  1 600 – 3 700 <span>Руб.</span>
                </div>
              </div>
              <a href="#" class="button button-blue button-card">
                Купить билет
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-4">
        <div class="activity__card">
          <div class="activity__card_img">
            <img src="img/activity-card-1.jpg" alt="">
          </div>
          <div class="activity__card_text">
            <div class="activity__card_wrapper">
              <div class="content">
                <div class="data">
                  22 <span>ДЕК.</span> – 07 <span>ЯНВ.</span>
                </div>
                <h3>Главный секрет деда мороза</h3>
              </div>
              <div class="content">
                <div class="arena">
                  Crocus City Hall
                </div>
                <div class="price">
                  1 600 – 3 700 <span>Руб.</span>
                </div>
              </div>
              <a href="#" class="button button-blue button-card">
                Купить билет
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-4">
        <div class="activity__card">
          <div class="activity__card_img">
            <img src="img/activity-card-1.jpg" alt="">
          </div>
          <div class="activity__card_text">
            <div class="activity__card_wrapper">
              <div class="content">
                <div class="data">
                  22 <span>ДЕК.</span> – 07 <span>ЯНВ.</span>
                </div>
                <h3>Главный секрет деда мороза</h3>
              </div>
              <div class="content">
                <div class="arena">
                  Crocus City Hall
                </div>
                <div class="price">
                  1 600 – 3 700 <span>Руб.</span>
                </div>
              </div>
              <a href="#" class="button button-blue button-card">
                Купить билет
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <a href="#" class="button button-small button-gray button-center">
        смотреть все
      </a>
    </div>
  </div>
</section>
