<section class="advantages cards-section">
  <div class="container">
    <div class="title">
      <h2>
        Преимущества
      </h2>
    </div>
    <div class="row">
      <div class="col col-md-6 col-xl-4">
        <div class="advantages__card">
          <div class="advantages__card_img">
            {{mixins.icon('adv-1')}}
          </div>
          <div class="advantages__card_text">
            <h3>Опыт</h3>
            <p>В этом году нам 10 лет</p>
          </div>
        </div>
      </div>
      <div class="col col-md-6 col-xl-4">
        <div class="advantages__card">
          <div class="advantages__card_img">
            {{mixins.icon('adv-2')}}
          </div>
          <div class="advantages__card_text">
            <h3>Идеи</h3>
            <p>Мы постоянно находимся в поиске <br> новых идей для наших клиентов</p>
          </div>
        </div>
      </div>
      <div class="col col-md-6 col-xl-4">
        <div class="advantages__card">
          <div class="advantages__card_img">
            {{mixins.icon('adv-3')}}
          </div>
          <div class="advantages__card_text">
            <h3>Важно</h3>
            <p>Мы бережно копим опыт <br> прошедших мероприятий</p>
          </div>
        </div>
      </div>
      <div class="col col-md-6 col-xl-4">
        <div class="advantages__card">
          <div class="advantages__card_img">
            {{mixins.icon('adv-4')}}
          </div>
          <div class="advantages__card_text">
            <h3>Медиа</h3>
            <p>О нас пишут авторитетные издания: <br> Итар-Тасс и Коммерсантъ</p>
          </div>
        </div>
      </div>
      <div class="col col-md-6 col-xl-4">
        <div class="advantages__card">
          <div class="advantages__card_img">
            {{mixins.icon('adv-5')}}
          </div>
          <div class="advantages__card_text">
            <h3>Ответственность</h3>
            <p>Нас знает вся Страна! <br> Мы дорожим своим именем</p>
          </div>
        </div>
      </div>
      <div class="col col-md-6 col-xl-4">
        <div class="advantages__card">
          <div class="advantages__card_img">
            {{mixins.icon('adv-6')}}
          </div>
          <div class="advantages__card_text">
            <h3>Команда</h3>
            <p>Сплоченный коллектив это <br> 90% успеха</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
