<section class="artists">
  <div class="container">
    <div class="title title-white">
      <h2>
        Наши артисты
      </h2>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-xl-3">
        <div class="artists__block">
          <div class="artists__block_img">
            <img src="img/artist-1.jpg" alt="">
          </div>
          <h3>
            АНДРЕЙ СПАСЕННИКОВ
          </h3>
          <span>
          Певец, автор
        </span>
          <p>
            Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться
          </p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-xl-3">
        <div class="artists__block">
          <div class="artists__block_img">
            <img src="img/artist-1.jpg" alt="">
          </div>
          <h3>
            АНДРЕЙ СПАСЕННИКОВ
          </h3>
          <span>
          Певец, автор
        </span>
          <p>
            Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться
          </p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-xl-3">
        <div class="artists__block">
          <div class="artists__block_img">
            <img src="img/artist-1.jpg" alt="">
          </div>
          <h3>
            АНДРЕЙ СПАСЕННИКОВ
          </h3>
          <span>
          Певец, автор
        </span>
          <p>
            Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться
          </p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-xl-3">
        <div class="artists__block">
          <div class="artists__block_img">
            <img src="img/artist-1.jpg" alt="">
          </div>
          <h3>
            АНДРЕЙ СПАСЕННИКОВ
          </h3>
          <span>
          Певец, автор
        </span>
          <p>
            Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться
          </p>
        </div>
      </div>

    </div>
    <div class="row">
      <a href="#" class="button button-small button-center">
        перейти к артистам
      </a>
    </div>
  </div>
</section>
