<section class="festival">
  <div class="container">
    <div class="title">
      <h2>
        ФЕСТИВАЛЬ
      </h2>
    </div>
    <div class="festival__card">
      <div class="festival__card_img">
        <img src="img/festival.jpg" alt="">
      </div>
      <div class="festival__card_text">
        <div class="content">
          <div class="data">
            22 <span>ДЕК.</span> – 07 <span>ЯНВ.</span>
          </div>
          <h3>фестиваль «Arena Project»</h3>
        </div>
        <div class="content-flex">
          <div class="content">
            <div class="arena">
              Crocus City Hall
            </div>
            <div class="price">
              1 600 – 3 700 <span>Руб.</span>
            </div>
          </div>
          <a href="#" class="button button-small button-gray">
            Подробнее
          </a>
        </div>

      </div>
    </div>
  </div>
</section>
