<section class="first-screen" id="first-screen">
  <div class="first-screen__slider">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="first-screen__block">
            <div class="container">
              <div class="first-screen__block_wrapper">
                <h3>
                  Мировой шедевр на одном дыхании!
                </h3>
                <h2 class="main-title">АННА КАРЕНИНА</h2>
                <div class="button__wrapper">
                  <a href="#" class="button button-blue">
                    Купить билет
                  </a>
                  <a href="#" class="button">
                    Подробнее
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="first-screen__block">
            <div class="container">
              <div class="first-screen__block_wrapper">
                <h3>
                  Мировой шедевр на одном дыхании!
                </h3>
                <h2 class="main-title">АННА КАРЕНИНА ОТ СОЗДАТЕЛЕЙ ФИЛЬМА ЧУЖОЙ</h2>
                <div class="button__wrapper">
                  <a href="#" class="button button-blue">
                    Купить билет
                  </a>
                  <a href="#" class="button">
                    Подробнее
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="first-screen__block">
            <div class="container">
              <div class="first-screen__block_wrapper">
                <h3>
                  Мировой шедевр на одном дыхании!
                </h3>
                <h2 class="main-title">АННА КАРЕНИНА</h2>
                <div class="button__wrapper">
                  <a href="#" class="button button-blue">
                    Купить билет
                  </a>
                  <a href="#" class="button">
                    Подробнее
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>
