<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xl-3 order-1 order-xl-1">
        <div class="footer-logo">
          <a href="#">
            <img src="img/logo.svg" alt="">
          </a>
          <p>
            Event агентство "ARENA"- это неординарное
            решения для Вас и Ваших гостей.
          </p>
        </div>
      </div>
      <div class="col-md-12 col-xl-6 order-3 order-xl-2">
        <div class="footer__contacts_wrapper">
          <h3>
            Наши контакты
          </h3>
          <div class="footer__contacts">
            <div class="footer__contacts_elem">
              1-й Волоколамский пр-д, д. 10, стр. 1, Москва, Россия, 123060
            </div>
            <div class="footer__contacts_elem">
              <a href="tel:+74956401440">+7-495-640-14-40</a>
            </div>
            <div class="footer__contacts_elem">
              <a href="tel:+74956401440">+7-495-640-14-40</a>
            </div>
            <div class="footer__contacts_elem">
              <a href="mailto:arenaproject2017@gmail.com">Arenaproject2017@gmail.com</a>
            </div>
            <div class="footer__contacts_elem">
              <a href="http://arena-company.org" target="_blank">arena-company.org</a>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-6 col-xl-3 order-2 order-xl-3">
        <h3>
          Мы в социальных сетях
        </h3>
        <div class="footer__social">
          <a href="#">
            {{mixins.icon('instagram')}}
          </a>
          <a href="#">
            {{mixins.icon('facebook')}}
          </a>
          <a href="#">
            {{mixins.icon('vk')}}
          </a>
          <a href="#">
            {{mixins.icon('google-plus')}}
          </a>
          <a href="#">
            {{mixins.icon('youtube')}}
          </a>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="copyright">
        <p>
          Copyright ©2018 Arena-company. All Rights Reserved.
        </p>
        <p>
          <a href="#">
            Политика обработки персональных данных
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>
