<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="menu-btn__wrapper">
        <div class="menu-btn">
          <div class="bar"></div>
        </div>
        <div class="menu-text">
          Меню
        </div>
      </div>

      <div class="logo">
        <a href="index.html">
          <img src="img/logo.svg" alt="">
        </a>
      </div>
      <div class="callback">
        <a href="tel:+79855838284" class="callback_tel">+7 (985) 583 82 84</a>
        <a href="#" class="callback_open">Заказать звонок</a>
      </div>
    </div>

  </div>
  <div class="menu">
    <div class="row">
      <div class="col overlay">
        <nav class="nav">
          <ul>
            <li>
              <a href="about.html">
                О нас
              </a>
            </li>
            <li>
              <a href="activity.html">
                Мероприятия
              </a>
            </li>
            <li>
              <a href="services.html">
                Услуги
              </a>
            </li>
            <li>
              <a href="artists.html">
                Артисты
              </a>
            </li>
            <li>
              <a href="promotions.html">
                Акции
              </a>
            </li>
            <li>
              <a href="for-partners.html">
                Партнеры
              </a>
            </li>
            <li>
              <a href="faq.html">
                FAQ
              </a>
            </li>
            <li>
              <a href="news.html">
                Новости
              </a>
            </li>
            <li>
              <a href="contacts.html">
              Контакты
              </a>
            </li>
            <li>
              <a href="contacts.html">
                Контакты
              </a>
            </li>
            <li>
              <a href="contacts.html">
                Контакты
              </a>
            </li>
            <li>
              <a href="contacts.html">
                Контакты
              </a>
            </li>
            <li>
              <a href="contacts.html">
                Контакты
              </a>
            </li>
            <li>
              <a href="contacts.html">
                Контакты
              </a>
            </li>
            <li>
              <a href="contacts.html">
                Контакты
              </a>
            </li>
            <li>
              <a href="contacts.html">
                Контакты
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
