<div id="venues" class="modal">
  <div class="form">
      <h3>
        Выберите площадку:
      </h3>
      <div class="venues__wrapper">
        <a href="#" class="active">Stand Up club #1</a>
        <br>
        <a href="#">Crocus City Hall</a>
        <br>
        <a href="#">Crocus City Hall</a>
        <br>
      </div>
  </div>
</div>

<div id="callback" class="modal">
  <form action="sendmail.php" class="form">
    <h3>
      Заказать обратный дзвонок
    </h3>
    <div class="input-wrapper">
      <input type="text" name="name" placeholder="Ваше имя" required>
    </div>
    <div class="input-wrapper">
      <input type="tel" name="tel" placeholder="Ваш телефон" required>
    </div>
    <div class="input-wrapper">
      <input type="hidden" name="formName" value="callback">
    </div>
    <button class="button button-blue">
      Оставить заявку
    </button>
  </form>
</div>
<div id="thanks" class="modal">
  <div class="form">
    <h3>
      Спасибо!
    </h3>
    <p>
      Наш менеджер свяжется c вами в ближайшее время
    </p>
  </div>
</div>
