<section class="partners">
  <div class="container">
    <div class="title">
      <h2>
        Партнеры и клиенты
      </h2>
    </div>
    <div class="partners-slider">
      <div class="slide">
        <img src="img/partners.png" alt="">
      </div>
      <div class="slide">
        <img src="img/partners-2.jpg" alt="">
      </div>
      <div class="slide">
        <img src="img/partners-3.png" alt="">
      </div>
      <div class="slide">
        <img src="img/partners-4.png" alt="">
      </div>
      <div class="slide">
        <img src="img/partners-5.png" alt="">
      </div>
      <div class="slide">
        <img src="img/partners-6.png" alt="">
      </div>
      <div class="slide">
        <img src="img/partners-7.png" alt="">
      </div>
      <div class="slide">
        <img src="img/partners-8.png" alt="">
      </div>
    </div>
  </div>
</section>
