<section class="reviews">

  <div class="container">
    <div class="row">

      <div class="order-2 order-md-1 col-md-6 col-lg-4">

        <div class="reviews__instagram-slider swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="reviews__instagram-slider_link" data-simplebar>
                <iframe class="instagram-media instagram-media-rendered" id="instagram-embed-1" src="https://www.instagram.com/p/BqzYCtUHN-p/embed/captioned/?cr=1&amp;v=12&amp;wp=326&amp;rd=http%3A%2F%2Farena.silk-its.com&amp;rp=%2F#%7B%22ci%22%3A1%2C%22os%22%3A3779.099999999744%7D" allowtransparency="true" allowfullscreen="true" frameborder="0" height="974" data-instgrm-payload-id="instagram-media-payload-1" scrolling="no" style="background: white; max-width: 640px; width: calc(100% - 2px); border-radius: 3px; border: 1px solid rgb(219, 219, 219); box-shadow: none; display: block; margin: 0px 0px 12px; min-width: 326px; padding: 0px; pointer-events: auto;"></iframe>                <script async="" src="//www.instagram.com/embed.js"></script>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__instagram-slider_link" data-simplebar>
                <iframe class="instagram-media instagram-media-rendered" id="instagram-embed-1" src="https://www.instagram.com/p/BqzYCtUHN-p/embed/captioned/?cr=1&amp;v=12&amp;wp=326&amp;rd=http%3A%2F%2Farena.silk-its.com&amp;rp=%2F#%7B%22ci%22%3A1%2C%22os%22%3A3779.099999999744%7D" allowtransparency="true" allowfullscreen="true" frameborder="0" height="974" data-instgrm-payload-id="instagram-media-payload-1" scrolling="no" style="background: white; max-width: 640px; width: calc(100% - 2px); border-radius: 3px; border: 1px solid rgb(219, 219, 219); box-shadow: none; display: block; margin: 0px 0px 12px; min-width: 326px; padding: 0px; pointer-events: auto;"></iframe>                <script async="" src="//www.instagram.com/embed.js"></script>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="reviews__instagram-slider_link" data-simplebar>
                <iframe class="instagram-media instagram-media-rendered" id="instagram-embed-1" src="https://www.instagram.com/p/BqzYCtUHN-p/embed/captioned/?cr=1&amp;v=12&amp;wp=326&amp;rd=http%3A%2F%2Farena.silk-its.com&amp;rp=%2F#%7B%22ci%22%3A1%2C%22os%22%3A3779.099999999744%7D" allowtransparency="true" allowfullscreen="true" frameborder="0" height="974" data-instgrm-payload-id="instagram-media-payload-1" scrolling="no" style="background: white; max-width: 640px; width: calc(100% - 2px); border-radius: 3px; border: 1px solid rgb(219, 219, 219); box-shadow: none; display: block; margin: 0px 0px 12px; min-width: 326px; padding: 0px; pointer-events: auto;"></iframe>                <script async="" src="//www.instagram.com/embed.js"></script>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
      <div class="order-1 order-md-2 col-md-6 col-lg-8">
        <div class="title title-white">
          <h2>
            Отзывы
          </h2>
        </div>
        <div class="reviews__slider swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="swiper-slide__wrapper">
                <div class="reviews__slider_img">
                  <img src="img/reviews.jpg" alt="">
                </div>
                <h4>
                  – Горецкая Наталья
                </h4>
                <div class="reviews__slider_text">
                  <p>
                    Спасибо за организацию выступления .Кунгурова на нашем мероприятии, посвященном 25 -летию со дня.

                  </p>
                  <p>
                    Дня образования компании. Всем очень </p> <p> понравилось. Спасибо за организацию выступления Е.Кунгурова на нашем мероприятии, посвященном 25 -летию.
                </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-slide__wrapper">
                <div class="reviews__slider_img">
                  <img src="img/reviews.jpg" alt="">
                </div>
                <h4>
                  – Горецкая Наталья
                </h4>
                <div class="reviews__slider_text">
                  <p>
                    Спасибо за организацию выступления .Кунгурова на нашем мероприятии, посвященном 25 -летию со дня.

                  </p>
                  <p>
                    Дня образования компании. Всем очень </p> <p> понравилось. Спасибо за организацию выступления Е.Кунгурова на нашем мероприятии, посвященном 25 -летию.
                </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-slide__wrapper">
                <div class="reviews__slider_img">
                  <img src="img/reviews.jpg" alt="">
                </div>
                <h4>
                  – Горецкая Наталья
                </h4>
                <div class="reviews__slider_text">
                  <p>
                    Спасибо за организацию выступления .Кунгурова на нашем мероприятии, посвященном 25 -летию со дня.

                  </p>
                  <p>
                    Дня образования компании. Всем очень </p> <p> понравилось. Спасибо за организацию выступления Е.Кунгурова на нашем мероприятии, посвященном 25 -летию.
                </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-slide__wrapper">
                <div class="reviews__slider_img">
                  <img src="img/reviews.jpg" alt="">
                </div>
                <h4>
                  – Горецкая Наталья
                </h4>
                <div class="reviews__slider_text">
                  <p>
                    Спасибо за организацию выступления .Кунгурова на нашем мероприятии, посвященном 25 -летию со дня.

                  </p>
                  <p>
                    Дня образования компании. Всем очень </p> <p> понравилось. Спасибо за организацию выступления Е.Кунгурова на нашем мероприятии, посвященном 25 -летию.
                </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Add Arrows -->
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>

      </div>
    </div>

  </div>
</section>
