<section class="services cards-section">
  <div class="container">
    <div class="title">
      <h2>
        Наши услуги
      </h2>
    </div>
    <div class="row">
      <div class="col-xl-8">
        <div class="services__cards">
          <div class="row">
            <div class="col col-md-6">
              <div class="advantages__card">
                <div class="advantages__card_img">
                  {{mixins.icon('serv-1')}}
                </div>
                <div class="advantages__card_text">
                  <h3>ДЕЛОВЫЕ
                    МЕРОПРИЯТИЯ</h3>
                  <p>
                    Конференции, семинары, выставки, презентации, форумы
                  </p>
                </div>
              </div>
            </div>
            <div class="col col-md-6">
              <div class="advantages__card">
                <div class="advantages__card_img">
                  {{mixins.icon('serv-2')}}
                </div>
                <div class="advantages__card_text">
                  <h3>
                    УСЛУГИ ДЛЯ
                    ОРГАНИЗАЦИЙ
                  </h3>
                  <p>Корпоративы, team building, тренинги</p>
                </div>
              </div>
            </div>
            <div class="col col-md-6">
              <div class="advantages__card">
                <div class="advantages__card_img">
                  {{mixins.icon('serv-3')}}
                </div>
                <div class="advantages__card_text">
                  <h3>
                    УСЛУГИ ЧАСТНЫМ
                    ЛИЦАМ
                  </h3>
                  <p>
                    Свадьбы, юбилеи, дни рождения, детские праздники, выпускные вечера
                  </p>
                </div>
              </div>
            </div>
            <div class="col col-md-6">
              <div class="advantages__card">
                <div class="advantages__card_img">
                  {{mixins.icon('serv-4')}}
                </div>
                <div class="advantages__card_text">
                  <h3>
                    ЭКСКЛЮЗИВНЫЕ
                    СОБЫТИЯ
                  </h3>
                  <p>Авторские постановки, идеальные свидания, балы</p>
                </div>
              </div>
            </div>
            <div class="col col-md-6">
              <div class="advantages__card">
                <div class="advantages__card_img">
                  {{mixins.icon('serv-5')}}
                </div>
                <div class="advantages__card_text">
                  <h3>
                    Детские праздники
                  </h3>
                  <p>
                    У нас есть десятки подходов и инструментов, чтобы развлечь малышей и повеселиться от души!
                  </p>
                </div>
              </div>
            </div>
            <div class="col col-md-6">
              <div class="advantages__card">
                <div class="advantages__card_img">
                  {{mixins.icon('serv-6')}}
                </div>
                <div class="advantages__card_text">
                  <h3>
                    TEAM BUILDING
                  </h3>
                  <p>
                    Oдин из самых эффективных инструментов управления компанией
                  </p>
                </div>
              </div>
            </div>
            <a href="#" class="button button-small button-gray button-center">
              перейти к услугам
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <form action="sendmail.php" class="form">
          <h3>
            Узнать подробнее обо всех услугах
          </h3>
          <div class="input-wrapper">
            <input type="text" name="name" placeholder="Ваше имя" required>
          </div>
          <div class="input-wrapper">
            <input type="tel" name="tel" placeholder="Ваш телефон" required>
          </div>
          <div class="input-wrapper">
            <input type="email" name="email" placeholder="Ваше e-mail" required>
          </div>
          <button class="button button-blue">
            Оставить заявку
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
