<section class="about for-partners for-partners-info">
  <div class="container">
    <div class="about__wrapper">
      <div class="about__text">
        <div class="title title-left">
          <h2>
            Условия партнерства
          </h2>
        </div>
        <p>
          «Event Arena Moscow» регулярно принимает участие в организации значимых мероприятий города Москвы. Мы активно сотрудничаем с Комитетом по делам молодёжи, Управлением культуры и Администрацией российской столицы.
        </p>
        <p>
          Мы создаем всевозможные события, умело совмещая развлекательные и учебные, командообразующие и мотивационные мероприятия. Каждый организационный формат индивидуально прорабатывается нашей командой профессионалов.
        </p>
        <p>
          Профессиональная команда «Арены» берется за организацию любых мероприятий, связанных с индустрией развлечений. Мы – те самые помощники, которые нужны вам для создания «идеального праздника»!
        </p>
        <p>
          Расскажите нам о своих пожеланиях и требованиях к мероприятию и позвольте решить все организационные вопросы за вас.
        </p>
        <p>
          Артисты нашего лейбла участвуют в значимых государственных мероприятиях, таких как День России, и выступают на крупнейших площадках Москвы и других городов.
        </p>
        <a href="#" class="button button-blue">
          Стать партнером
        </a>
        <a href="#" class="button-link">
          Условия партнерства
        </a>
      </div>
      <div class="about__img">
        <img src="img/partners.jpg" alt="">
      </div>
    </div>
  </div>
</section>
