<section class="about for-partners services-open-page">
  <div class="container">
    <div class="about__wrapper">
      <div class="about__img">
        <img src="img/partners.jpg" alt="">
      </div>
      <div class="about__text services__text artist-page__text">
        <div class="title title-left">
          <h2>
            ЧТО ДАЕТ ПАРТНЕРСТВО
          </h2>
        </div>
        <p>
          Расскажите нам о своих пожеланиях и требованиях к мероприятию и позвольте решить все организационные вопросы за вас.
        </p>
        <p>
          Артисты нашего лейбла участвуют в значимых государственных мероприятиях, таких как День России, и выступают на крупнейших площадках Москвы и других городов.
        </p>
        <p>
          Мироприятия в каких можно поучаствовать:
        </p>
        <ul>
          <li>
            Дни рождения
          </li>
          <li>
            Концерты
          </li>
          <li>
            Тест
          </li>
          <li>
            Дни рождения
          </li>
          <li>
            Дни рождения
          </li>
        </ul>
        <p>
          Мы рады новым партнерам!
        </p>
        <a href="#" class="button button-blue">
          Стать партнером
        </a>

      </div>
    </div>
  </div>
</section>
