<section class="partners partners-info">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="title title-left">
          <h2>
            Нам интересны
          </h2>
        </div>
        <div class="button__wrapper">
          <div class="button button-blue">
            Стать партнером
          </div>
        </div>

      </div>
      <div class="col-lg-7 col-sm-12">
        <div class="partners-info__list">
          <p>
            Официальный партнер
          </p>
          <p>
            Информационные партнеры
          </p>
          <p>
            Генеральный партнер
          </p>
          <p>
            Cтратегический партнер
          </p>
          <p>
            Cпонсор
          </p>
          <p>
            Генеральный спонсор
          </p>
          <p>
            Официальный спонсор
          </p>
          <p>
          Генеральный информационный партнер
        </p>
        </div>
      </div>
    </div>
  </div>
</section>
