<section class="services cards-section services-for-partners">
  <div class="container">
    <div class="row">
      <div class="col-xl-8">
        <div class="services__cards">
          <div class="row">
            <div class="col col-md-6">
              <div class="advantages__card">
                <div class="advantages__card_img">
                  {{mixins.icon('serv-1')}}
                </div>
                <div class="advantages__card_text">
                  <h3>Много проектов</h3>
                  <p>
                    по все стране и в странах СНГ
                  </p>
                  <a href="">Подоробнее о проекте</a>
                </div>
              </div>
            </div>
            <div class="col col-md-6">
              <div class="advantages__card">
                <div class="advantages__card_img">
                  {{mixins.icon('serv-2')}}
                </div>
                <div class="advantages__card_text">
                  <h3>
                    создание положительного
                  </h3>
                  <p>
                    имиджа компании
                  </p>
                  <a href="">Подоробнее о проекте</a>
                </div>
              </div>
            </div>
            <div class="col col-md-6">
              <div class="advantages__card">
                <div class="advantages__card_img">
                  {{mixins.icon('serv-3')}}
                </div>
                <div class="advantages__card_text">
                  <h3>
                    формирование благоприятного отношения
                  </h3>
                  <p>
                    со стороны потенциальных клиентов
                  </p>
                  <a href="">Подоробнее о проекте</a>
                </div>
              </div>
            </div>
            <div class="col col-md-6">
              <div class="advantages__card">
                <div class="advantages__card_img">
                  {{mixins.icon('serv-4')}}
                </div>
                <div class="advantages__card_text">
                  <h3>
                    увеличение числа

                  </h3>
                  <p>
                    информационных поводов для освещения деятельности компании в
                    средствах массовой информации
                  </p>
                  <a href="">Подоробнее о проекте</a>
                </div>
              </div>
            </div>
            <div class="col col-md-6">
              <div class="advantages__card">
                <div class="advantages__card_img">
                  {{mixins.icon('serv-5')}}
                </div>
                <div class="advantages__card_text">
                  <h3>
                    возможность прямой презентации
                  </h3>
                  <p>
                    товаров и услуг целевой аудитории проекта
                  </p>
                  <a href="">Подоробнее о проекте</a>
                </div>
              </div>
            </div>
            <div class="col col-md-6">
              <div class="advantages__card">
                <div class="advantages__card_img">
                  {{mixins.icon('serv-6')}}
                </div>
                <div class="advantages__card_text">
                  <h3>
                    участие в рекламной кампании
                  </h3>
                  <p>
                    с использованием различных инструментов продвижения
                    (телевидение, радио, печатные СМИ, уличные экраны, социальные сети, наружная реклама,
                    печатная продукция, новостные рассылки, пост материалы)
                  </p>
                  <a href="">Подоробнее о проекте</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <form action="sendmail.php" class="form">
          <h3>
            Узнать подробнее
          </h3>
          <div class="input-wrapper">
            <input type="text" name="name" placeholder="Ваше имя" required>
          </div>
          <div class="input-wrapper">
            <input type="tel" name="tel" placeholder="Ваш телефон" required>
          </div>
          <div class="input-wrapper">
            <input type="email" name="email" placeholder="Ваше e-mail" required>
          </div>
          <button class="button button-blue">
            Оставить заявку
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
