<section class="first-screen-template first-screen-services__open" style="background-image: url('img/artist-page.jpg')">
  <div class="container">
    <div class="title title-white">
      <h3>
        Услуги артиста
      </h3>
      <h2>
        АНДРЕЙ СПАСЕННИКОВ
      </h2>
    </div>
    <div class="button__wrapper-center">
      <a href="#" class="button button-blue button-center button-services">
        заказать
      </a>
    </div>
    <div class="bread-crumb">
      <a href="index.html">
        Главная
      </a>
      <a href="news.html">
        Наши артисты
      </a>
      <span>
        Андрей Спасенников
      </span>
    </div>
  </div>
</section>

