<section class="about for-partners services-open-page">
  <div class="container">
    <div class="about__wrapper">
      <div class="about__img">
        <img src="img/artist-page-info.jpg" alt="">
      </div>
      <div class="about__text services__text artist-page__text">
        <div class="title title-left">
          <h2>
            АНДРЕЙ СПАСЕННИКОВ
          </h2>
        </div>
          <p>
            Молодой исполнитель, который успел зарекомендовать себя не только на Белорусской эстраде, а так же на территории Украины и России.
          </p>
          <ul>
            <li>
              Артист лейбла «ARENA MOSCOW»
            </li>
            <li>
              Идейный создатель и наставник международного вокального проекта «ARENA VOCAL CONTEST»
            </li>
            <li>
              Участник телешоу:
              <ul>
                <li>
                  «Академия Талантов» (телеканал «ОНТ»),
                </li>
                <li>
                  «Х Фактор» (телеканал «СТБ»),
                </li>
                <li>
                  «Я могу!» (телеканал «Беларусь 1»)
                </li>
                <li>
                  «Поющие города» (телеканал «CTV.BY»)
                  и др.
                </li>
              </ul>
            </li>
            <li>
              Финалист проекта «МТС зажигает Звёзды»
            </li>
            <li>
              Участник международного сериалити шоу «Хочу к Меладзе»
            </li>
          </ul>

        <a href="#" class="button button-blue">
          <span>от</span> 200 000  <span>руб.</span>
        </a>
      </div>
    </div>
  </div>
</section>
