<section class="press-release">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="title title-left">
          <h2>
            Пресс-релиз
            артиста
          </h2>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="press-release__text">
          <p>
            Андрей Спасенников – родился в 1993 году в городе Гомель (Беларусь) и уже с 7ми лет начал свой творческий путь…
          </p>
          <p>
            В 2012 году состоялся первый сольный концерт в ГЦК города Гомеля.
          </p>
          <p>
            Также, в 2012 году Андрей принимал участие в телепроекте «Академия Талантов», вышел в финал и в составе победителей гастролировал по СНГ, где было более 60 концертов за 2 месяца.
          </p>
          <p>
            В 2014 году принимал участие в шоу «Поющие города» и в сериалити международного шоу «Хочу к Меладзе», где вошёл в 4ку лучших от Белоруссии.
          </p>
          <p>
            Андрей является частым гостем на республиканских праздниках Беларуси, в том числе дважды выступал в резиденции Президента Республики Беларусь и на главной площади страны.
          </p>
          <p>
            Входит в Топ-10 лучших вокалистов Республики Беларусь по версии телеканала «ОНТ».
          </p>
          <p>
            Песни Андрея Спасеннникова можно услышать на радиостанциях Беларуси, России, Украины.
          </p>
          <p>
            В концертной программе Андрея Спасенникова представлен как авторский материал ("Не молчи", "Сумасшедший", "Каплями Дождя", "Если не ты", "Прости и Прощай", "Таю и взлетаю" и др), так и cover версии хитов таких исполнителей как: Иван Дорн, группа Iowa, Мот, Sia, группа Виа-Гра, группа Время и Стекло, Mband, Ольга Кармухина, группа Инь-Ян, Океан Эльзи, Максим Фадеев, Лара Фабиан и др.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
