<section class="video-gallery">
 <div class="container">
   <div class="title">
     <h2>
       Видео галерея
     </h2>
   </div>
   <div class="video-gallery__slider">
     <p> Смотрите больше видео с артистом в
       <a href="http://instagram.com" target="_blank"> в Instagram </a>
       <a href="http://youtube.com" target="_blank"> и Youtube </a>
     </p>
     <div class="swiper-container">
       <div class="swiper-wrapper">
         <div class="swiper-slide">
           <a data-fancybox="gallery-video" href="https://www.youtube.com/embed/xFa2_PVMeDQ">
             <img src="img/gallery-14.jpg" alt="">
           </a>
         </div>
         <div class="swiper-slide">
           <a data-fancybox="gallery-video" href="https://www.youtube.com/embed/xFa2_PVMeDQ">
             <img src="img/gallery-14.jpg" alt="">
           </a>
         </div>
         <div class="swiper-slide">
           <a data-fancybox="gallery-video" href="https://www.youtube.com/embed/xFa2_PVMeDQ">
             <img src="img/gallery-14.jpg" alt="">
           </a>
         </div>
         <div class="swiper-slide">
           <a data-fancybox="gallery-video" href="https://www.youtube.com/embed/xFa2_PVMeDQ">
             <img src="img/gallery-14.jpg" alt="">
           </a>
         </div>
         <div class="swiper-slide">
           <a data-fancybox="gallery-video" href="https://www.youtube.com/embed/xFa2_PVMeDQ">
             <img src="img/gallery-14.jpg" alt="">
           </a>
         </div>
       </div>
       <!-- Add Pagination -->
       <div class="swiper-pagination"></div>
     </div>
   </div>
 </div>
</section>
