.about-template
	.about__wrapper
		padding-top: 90px
	.about__text
		padding-top: 40px
		+r(1199)
			padding-top: 0

.about-tabs-nav
	&__wrapper
		display: flex
		justify-content: center
		align-items: center
		margin-bottom: 100px
		+r(1199)
			flex-wrap: wrap
		+r(767)
			margin-bottom: 30px
.first-screen-about
	.title
		margin-bottom: 40px
