.services-open-page
	.artist-page
		&__text
			h2
				font-size: 59px
				+r(991)
					font-size: 48px
				+r(565)
					font-size: 36px
			p
				margin-bottom: 10px
				&:last-of-type
					margin-bottom: 10px
			ul
				li
					+r(575)
						padding-left: 30px
					&::before
						content: url('../img/star-solid.svg')
						width: 12px
						height: 11px
						left: 18px
						+r(576)
							left: 10px
					&:last-of-type
						margin-bottom: 35px
					ul
						margin-top: 15px
						li
							padding-left: 15px
							+r(575)
								padding-left: 35px
							&::before
								content: ''
								width: 4px
								height: 4px
								background: $carnation
								border-radius: 50%
								left: 5px
								top: 50%
								transform: translateY(-50%)
							&:last-of-type
								margin-bottom: 5px
