.artist-template
	padding-top: 60px
	+r(767)
		padding-top: 40px
	+r(575)
		.data
			font-size: 12px
			margin-bottom: 0
	.info-artist
		font-size: 14px
		color: $tundora
		max-height: 96px
		overflow: hidden
		+r(991)
			font-size: 12px
			max-height: 120px
	.activity__card_text
		h3
			margin-bottom: 10px
			+r(575)
				font-size: 20px
	.price-hidden
		display: none
	.activity__card
		&:hover
			.info-artist
				display: none
			.price-hidden
				display: block


