.contacts-template
	.contacts__text
		padding-left: 35px
		+r(1200)
			padding-left: 0
	.contacts__info
		h2
			font-family: "BebasNeue",sans-serif
			font-weight: 700
			font-size: 60px
			line-height: 1em
			letter-spacing: .075em
			color: #000
			margin-bottom: 30px
	#map
		position: relative
		right: 0
		left: 0
		width: 100%
		margin-top: 30px

