.first-screen-template
	padding: 250px 0 50px
	background-position:  center
	background-repeat: no-repeat
	background-size: cover
	background-color: $black
	position: relative
	&::before
		content: ''
		background-image: url('../img/template-page-hover.png')
		background-repeat: no-repeat
		background-size: cover
		position: absolute
		left: 0
		top: 0
		right: 0
		bottom: 0

	.title
		margin-bottom: 130px
		z-index: 100
		position: relative
	+r(575)
		padding-top: 150px
		.title
			margin-bottom: 70px
.bread-crumb
	z-index: 100
	position: absolute
	bottom: 10px
	a
		font-weight: 600
		position: relative
		margin-right: 20px
		transition: all .3s ease
		&:before
			position: absolute
			content: ''
			width: 100%
			height: 1px
			background: $dusty-gray
			bottom: -1px
			left: auto
			right: 0
			transition: all .5s ease
		&::after
			content: '>'
			position: absolute
			right: -14px
			top: 50%
			transform: translateY(-50%)
		&:hover
			color: $white
			&:before
				position: absolute
				content: ''
				width: 0
				bottom: -1px
				left: 0
				right: 0
	a, span
		color: $dusty-gray
		font-size: 12px
		+r(576)
			font-size: 10px
	&__white-bg
		bottom: 10px
