.for-partners
	padding: 80px 0
	.about__text
		padding: 30px 0 0 68px
		+r(991)
			padding: 30px 0 0 30px
		+r(767)
			padding: 30px 0 30px 0
	&-info
		.about__text
			padding: 30px 68px 0 0
			+r(991)
				padding: 0 0 30px 0
			+r(767)
				padding: 0 0 30px 0

	.button
		margin: 0
	.button-link
		margin-left: 30px
		+r(1200)
			margin-left: 0
			margin-top: 20px
		+r(767)
			margin-left: 30px
			margin-top: 0
		+r(575)
			margin-left: 20px
			margin-top: 15px
.partners-info
	.title-left
		+r(991)
			text-align: center
			margin-bottom: 20px
	&__list
		column-count: 2
		+r(575)
			column-count: 1
		p
			padding: 0 0 0 20px
			position: relative
			margin-bottom: 12px
			&:before
				content: url('../img/star-solid.svg')
				width: 12px
				height: auto
				position: absolute
				left: 0
				top: 50%
				transform: translateY(-50%)
	.button
		margin-bottom: 0
		+r(991)
			margin-bottom: 20px
		&__wrapper
			+r(991)
				text-align: center
