.licenses
	padding: 90px 0 20px
	+r(991)
		padding: 50px 0 5px
	+r(767)
		padding: 40px 0 0
	&__slider
		padding: 0 65px
		+r(1199)
			padding: 0
		.swiper-wrapper
			padding-bottom: 45px
			+r(767)
				padding-bottom: 15px
		.swiper-slide
			display: flex
			justify-content: center
		img
			width: 220px
			height: 310px
			object-fit: cover
			border: 5px solid $tundora
		.swiper-pagination-bullet
			width: 30px
			height: 1px
			background: $nobel
			opacity: 1
			border-radius: 0
		.swiper-pagination-bullet-active
			background: $lochmara
			height: 3px
		.swiper-pagination
			display: flex
			align-items: center
			justify-content: center
			bottom: 0
