.open-news
	padding: 90px 0
	&__wrapper
		display: flex
		+r(767)
			flex-direction: column
	&__img
		position: relative
		max-height: 520px
		+r(767)
			text-align: center
			max-height: none
		&::before
			content: ''
			background: url('../img/gallery-pattern.png')
			position: absolute
			left: 0
			width: 100%
			height: 100%
			z-index: 10
		img
			width: 400px
			height: 520px
			object-fit: cover
			+r(767)
				width: 100%
				height: auto
	&__text
		padding: 40px 0 0 70px
		+r(991)
			padding: 40px 0 0 30px
		+r(767)
			padding-left: 0
		h3
			font-family: $default-font
			font-weight: 600
			font-size: 24px
			color: $tundora
			margin-bottom: 20px
			line-height: 1em
		ul
			li
				padding-left: 30px
				font-size: 14px
				color: $tundora
				position: relative
				line-height: 1.5em
				margin-bottom: 5px
				&::before
					content: ''
					width: 4px
					height: 4px
					position: absolute
					left: 20px
					top: 8px
					background: $carnation
					border-radius: 50%
				span
					font-weight: 600
		p
			font-family: $default-font
			color: $tundora
			font-size: 14px
			margin-bottom: 12px
			span
				font-weight: 600
			& + ul
				li
					padding-left: 0
					&::before
						content: '-'
						position: relative
						left: 0
						top: 0
						border-radius: 0
						background: transparent

.more-news
	position: relative
	background: $alabaster
	.contests__card
		background: $white
