.photo-gallery
	padding: 60px 0 0
	+r(991)
		padding: 50px 0 0
	+r(767)
		padding: 40px 0 0
	.title
		margin-bottom: 30px

	p
		color: $tundora
		margin-bottom: 15px
		&:last-of-type
			margin-bottom: 55px
			+r(565)
				margin-bottom: 30px
	.instagram-link
		display: inline-block
		padding-left: 35px
		color: $lochmara
		position: relative
		font-weight: 600
		margin-bottom: 30px
		&::before
			content: url('../img/instagram.svg')
			position: absolute
			left: 0
			width: 22px
			height: 22px
		&::after
			position: absolute
			content: ''
			width: calc( 100% - 35px)
			height: 1px
			background: $lochmara
			bottom: 0
			left: 35px
			right: 0
			z-index: -1
			transition: all .5s ease
		&:hover
			&::after
				position: absolute
				content: ''
				width: 0
				bottom: 0
				left: auto
				right: 0
				z-index: -1
	&__gallery
		display: flex
		align-items: center
		min-height: 470px
		position: relative
		+r(991)
			flex-wrap: wrap
			justify-content: space-between
		&_img
			position: absolute
			top: 0
			left: 0
			display: block
			+r(991)
				position: relative
				width: 48%
			img
				display: block
				width: 370px
				height: 470px
				object-fit: cover
				+r(1199)
					width: 300px
				+r(991)
					width: 100%
					height: 220px
			&:nth-of-type(2), &:nth-of-type(3)
				left: 400px
				+r(1199)
					left: 320px
				+r(991)
					left: 0
				img
					height: 220px
			&:nth-of-type(3)
				bottom: 0
				top: auto
			&:nth-of-type(4)
				left: 800px
				+r(1199)
					left: 640px
				+r(991)
					left: 0
			&::before
				content: ''
				background: url('../img/gallery-pattern.png')
				position: absolute
				left: 0
				width: 100%
				height: calc( 100% - 7px)
				z-index: 10
