.press-release
	padding: 90px 0 10px
	+r(991)
		padding: 70px 0 0
	+r(767)
		padding: 50px 0
	+r(575)
		padding: 40px 0
	&__text
		max-height: 370px
		overflow: hidden
		p
			font-size: 14px
			margin-bottom: 10px
			color: $tundora
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
		background: $lochmara
