.promotions__wrapper
	&_padding
		padding-top: 80px
		+r(991)
			padding-top: 60px
.discount
	position: absolute
	width: 60px
	height: 60px
	background: $lochmara
	display: flex
	align-items: center
	justify-content: center
	font-family: $title-font
	font-size: 24px
	color: $white
	letter-spacing: 0.075em
	right: 40px
	bottom: 60px
	z-index: 10
.filter
	display: flex
	padding: 30px 0
	+r(991)
		padding: 20px
		flex-wrap: wrap
	+r(575)
		flex-direction: column
.category-filter
	background: $wild-sand
	margin-bottom: 80px
	+r(991)
		margin-bottom: 60px
.controls
	position: absolute
	z-index: 10
	background: $white
	transform: translateY(31px)
	padding: 15px
	box-shadow: 0 5px 10px 0px rgba(0,0,0,.5)
	min-width: 282px
	+r(991)
		transform: translateY(2px)
	+r(360)
		transform: translateX(-15px)

.irs--flat .irs-bar
	background: $lochmara
.irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to
	background: $lochmara
.irs--flat .irs-from:before, .irs--flat .irs-single:before, .irs--flat .irs-to:before
	border-top-color: $lochmara
.irs-to
	background: $lochmara
.filter-elem
	margin-right: 60px
	padding-right: 20px
	cursor: pointer
	+r(991)
		margin-bottom: 10px
		&:last-of-type
			margin-bottom: 0
	label
		cursor: pointer
		font-family: $title-font
		font-size: 18px
		font-weight: 700
		color: $tundora
		position: relative
		letter-spacing: 0.05em
		&:after
			content: ''
			width: 7px
			height: 7px
			background: transparent
			position: absolute
			border-bottom: 2px solid $tundora
			border-left: 2px solid $tundora
			right: -20px
			top: 40%
			transform: translateY(-50%) rotate(-45deg)
		&+ .controls
			display: none

#venues
	color: $mine-shaft
	background: $white
.checklist
	li
		&:last-of-type
			margin-bottom: 15px
	input
		&.checkbox-filter
		  display: none
		&.radio-filter
			display: none
	label
		&.filter-data-check,
		&.checkbox-label
			padding-left: 20px
			font-family: $title-font
			font-weight: 700
			font-size: 18px
			color: $tundora
			line-height: 1em
			text-align: left
			position: relative
			cursor: pointer
			letter-spacing: 0.05em
			&::before
				content: ''
				position: absolute
				display: inline-block
				width: 13px
				height: 13px
				background: $white
				border: 2px solid $lochmara
				left: 0
				top: 3px
			&::after
				content: ''
				width: 9px
				height: 4px
				border-bottom: 2px solid $lochmara
				border-left: 2px solid $lochmara
				transform: rotate(-45deg)
				position: absolute
				left: 2px
				top: 7px
				opacity: 0
				transition: all .3s ease
	input[type="radio"]:checked + label.filter-data-check::after,
	input[type="checkbox"]:checked ~ label.checkbox-label::after
		transition: all .3s ease
		opacity: 1

.datapicker-wrapper
	margin-bottom: 20px
.clear-filter
	font-family: $title-font
	font-weight: 700
	font-size: 18px
	color: $silver-chalice
	position: relative
	padding-right: 20px
	display: inline-block
	cursor: pointer
	&::after, &::before
		content: ''
		width: 10px
		height: 2px
		background: $silver-chalice
		position: absolute
		right: 0
		top: 40%
		transition: all .3s ease
	&::after
		transform: rotate(45deg)
	&::before
		transform: rotate(-45deg)
	&:hover
		&::before,&::after
			background: red
	&_right
		margin-left: auto
		+r(991)
			margin-left: 0
