.first-screen-services__open
	padding-top: 320px
	+r(1199)
		padding-top: 220px
	+r(991)
		padding-top: 180px
	.title
		margin-bottom: 100px
		+r(991)
			margin-bottom: 50px
		+r(767)
			margin-bottom: 30px
		h2
			font-size: 108px
			+r(991)
				font-size: 60px
			+r(767)
				font-size: 48px
			+r(565)
				font-size: 36px
.services-open-page
	&__steps
		background: $alabaster
		padding: 90px 0 30px
		+r(991)
			padding: 70px 0 10px
		.advantages__card_img
			z-index: 1
	&__photo-gallery
		padding: 60px 0
		+r(991)
			padding: 50px 0
		+r(767)
			padding: 40px 0
	.services__text
		ul
			text-align: left
			li
				font-size: 14px
				padding-left: 60px
				margin-bottom: 20px
				color: $tundora
				line-height: 1.5em
				position: relative
				&::before
					content: url('../img/quality-services.svg')
					position: absolute
					left: 0
					top: 0
					width: 31px
					height: 31px
				&:last-of-type
					margin-bottom: 90px
					+r(767)
						margin-bottom: 30px
	.category-filter-event
		.event-info
			margin-right: 180px
			+r(1199)
				margin-right: 100px
			+r(991)
				margin-right: 50px
			h3
				font-family: $default-font
				font-size: 14px
				font-weight: 400
				color: $tundora
			.filter-title
				color: $black
				font-family: $title-font
				font-weight: 700
				letter-spacing: 0.05em
				font-size: 30px
				span
					font-size: 18px
			.controls
				a
					display: block
					font-family: $title-font
					font-weight: 700
					font-size: 24px
					color: $mine-shaft
					margin-bottom: 5px
					transition: all .3s ease
					letter-spacing: 0.05em
					span
						font-size: 18px
					&:hover
						color: $lochmara
	&__open-event
		padding: 0
		+r(991)
			padding: 0
		+r(767)
			padding: 0
		+r(565)
			padding: 0
.services__card_img
	width: 70px
	height: 70px
	background: $white
	display: flex
	align-items: center
	justify-content: center
	border-radius: 50%
	box-shadow: 0 10px 40px 0 rgba(0, 85, 222, 0.3)
	&::before
		z-index: 25

.services-for-partners
	.advantages__card_text
		margin-top: 0
		a
			font-size: 14px
			color: $lochmara
			margin-top: 15px
			display: inline-block
			padding-left: 25px
			position: relative
			transition: all .3s ease
			&::after
				position: absolute
				content: ''
				width: calc( 100% - 25px)
				height: 1px
				background: $lochmara
				bottom: 0
				left: 25px
				transition: all .3s ease
			&::before
				content: url('../img/pdf.svg')
				position: absolute
				width: 15px
				height: auto
				left: 0
			&:hover
				&::after
					width: 0
					right: 0
					left:  auto
