.video-gallery
	padding: 60px 0
	+r(767)
		padding: 40px 0
	p
		color: #4a4a4a
		margin-bottom: 15px
		a
			color: #008bd0
			position: relative
			font-weight: 600
			margin-left: 5px
			&::after
				position: absolute
				content: ''
				width: calc( 100% - 15px)
				height: 1px
				background: #008bd0
				bottom: -1px
				left: 10px
				right: 0
				z-index: -1
				transition: all .5s ease
			&:hover
				&::after
					width: 0
					bottom: -1px
					left: auto
					right: 0
					z-index: -1
	&__slider
		.swiper-wrapper
			padding-bottom: 45px
			+r(767)
				padding-bottom: 15px
		.swiper-slide
			display: flex
			justify-content: center
			img
				display: block
				object-fit: cover
				position: relative
				width: 100%
				min-height: 175px
			a
				position: relative
				&::before
					content: url('../img/youtube-black.svg')
					position: absolute
					width: 60px
					height: auto
					z-index: 1
					left: 50%
					top: 50%
					transform: translate(-50%, -50%)
					transition: all .3s ease
				&:hover
					&::before
						content: url('../img/youtube-red.svg')
						transition: all .3s ease
		.swiper-pagination-bullet
			width: 30px
			height: 1px
			background: $nobel
			opacity: 1
			border-radius: 0
		.swiper-pagination-bullet-active
			background: $lochmara
			height: 3px
		.swiper-pagination
			display: flex
			align-items: center
			justify-content: center
			bottom: 0
