<section class="contacts-template">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="contacts__wrapper">
          <div class="row">
            <div class="col-xl-4">
              <div class="contacts__info">
                <h2>
                  Краткая информация
                </h2>
                <p>
                  «Event Arena Moscow» регулярно принимает участие в организации значимых мероприятий города Москвы. Мы активно сотрудничаем с Комитетом по делам молодёжи, Управлением культуры и Администрацией российской столицы.
                </p>
                <p>
                  Мы создаем всевозможные события, умело совмещая развлекательные и учебные, командообразующие и мотивационные мероприятия. Каждый организационный формат индивидуально прорабатывается нашей командой профессионалов.
                </p>
              </div>
            </div>
            <div class="col-lg-6 col-xl-4">
              <div class="contacts__text">
                <div class="title title-left">
                  <h2>
                    Контакты
                  </h2>
                </div>
                <p>
                  Event агентство " ARENA"- это не простая организация мероприятий, это неординарное решения для Вас и Ваших гостей.
                </p>
                <div class="contacts__block">
                  <div class="contacts__block_elem">
                    1-й Волоколамский пр-д, д. 10, <br>стр. 1, Москва, Россия, 123060
                  </div>
                  <div class="contacts__block_elem">
                    <a href="tel:+74956401440">+7-495-640-14-40</a>
                  </div>
                  <div class="contacts__block_elem">
                    <a href="tel:+74956401440">+7-495-640-14-40</a>
                  </div>
                  <div class="contacts__block_elem">
                    <a href="mailto:arenaproject2017@gmail.com">Arenaproject2017@gmail.com</a>
                  </div>
                  <div class="contacts__block_elem">
                    <a href="http://arena-company.org" target="_blank">arena-company.org</a>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-lg-6 col-xl-4">

              <form action="sendmail.php" class="form">
                <h3>
                  Узнать подробнее обо всех услугах
                </h3>
                <div class="input-wrapper">
                  <input type="text" name="name" placeholder="Ваше имя" required>
                </div>
                <div class="input-wrapper">
                  <input type="tel" name="tel" placeholder="Ваш телефон" required>
                </div>
                <div class="input-wrapper">
                  <input type="email" name="email" placeholder="Ваше e-mail" required>
                </div>
                <button class="button button-blue">
                  Оставить заявку
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div id="map"></div>
    <script>
      function initMap(){

        var coordinates = {lat: 55.7474564, lng: 37.6142571};

        var element = document.getElementById('map');
        var option = {
          zoom: 13,
          center: coordinates,
          disableDefaultUI: true,
          styles:
            [{"featureType":"all","elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#000000"},{"lightness":40}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#000000"},{"lightness":16}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":17},{"weight":1.2}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":21}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":16}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":19}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":17}]}]
        };
        var map = new google.maps.Map(element, option);
      }
    </script>
</section>
