<section class="first-screen-template" style="background-image: url('img/template-fs-bg.jpg')">
  <div class="container">
    <div class="title title-white">
      <h2>
        Наши контакты
      </h2>
    </div>
    <div class="bread-crumb">
      <a href="index.html">
        Главная
      </a>
      <span>
        Контакты
      </span>
    </div>
  </div>
</section>
