<section class="first-screen-template first-screen-services__open" style="background-image: url('img/first-screen-bg.jpg')">
  <div class="container">
    <div class="title title-white">
      <h3>
        Мировой шедевр на одном дыхании!
      </h3>
      <h2>
        «АННА КАРЕНИНА»
      </h2>
    </div>
    <div class="button__wrapper-center">
      <a href="#" class="button button-blue button-center button-services">
        купить билет
      </a>
    </div>
    <div class="bread-crumb">
      <a href="index.html">
        Главная
      </a>
      <a href="news.html">
        Мероприятия
      </a>
      <span>
        Анна Каренина
      </span>
    </div>
  </div>
</section>

