<section class="about for-partners services-open-page services-open-page__open-event">
  <div class="category-filter category-filter-event">
    <div class="container">
      <form action="" class="filter">
        <div class="event-info filter-elem date">
          <h3>
            Дата и время
          </h3>
          <label class="filter-title date">
            25 <span>Декабря</span> 19:00
          </label>
          <div class="controls">
            <ul class="checklist" data-tpl="light">
              <li>
                <a href="#">
                  18 <span>Декабря</span> 19:00
                </a>
              </li>
              <li>
                <a href="#">
                  19 <span>Декабря</span> 19:00
                </a>
              </li>
              <li>
                <a href="#">
                  20 <span>Декабря</span> 19:00
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="event-info place">
          <h3>
            Место проведения:
          </h3>
          <div class="filter-title">
            Театр Оперетты
          </div>
        </div>
        <div class="event-info price">
          <h3>
            Стоимость:
          </h3>
          <div class="filter-title">
            1 200 – 4 900 <span>руб.</span>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="container">
    <div class="about__wrapper">
      <div class="about__img">
        <img src="img/open-event.jpg" alt="">
      </div>
      <div class="about__text services__text">
        <div class="title title-left">
          <h2>
            АННА КАРЕНИНА
          </h2>
        </div>
        <p>
          МИРОВОЙ ШЕДЕВР НА ОДНОМ ДЫХАНИИ!
        </p>
        <p>
          Открытие сезона – с 18 по 31 декабря, с 22 января до 03 февраля
        </p>
        <p>
          Продюсеры – Владимир Тартаковский и Алексей Болонин
        </p>
        <p>
          Либретто – Юлий Ким
        </p>
        <p>
          Музыка – Роман Игнатьев
        </p>
        <p>
          Режиссёр – Алина Чевик
        </p>
        <p>
          Хореограф – Ирина Корнеева
        </p>
        <p>
          Музыкальный руководитель – Константин Хватынец
        </p>
        <p>
          Декорации и костюмы – Вячеслав Окунев
        </p>
        <p>
          Световое оформление – Глеб Фильштинский
        </p>
        <p>
          Грим и причёски – Андрей Дрыкин
        </p>
        <p>
          От создателей самых популярных российских мюзиклов «Граф Орлов» и «Монте-Кристо»: масштабная постановка — мюзикл «Анна Каренина»!
        </p>
        <a href="#" class="button button-blue">
          Купить билет
        </a>
      </div>
    </div>
  </div>
</section>

