<section class="photo-gallery services-open-page__photo-gallery">
  <div class="container">
    <div class="row">
      <div class="col-xl-4">
        <div class="title title-left">
          <h2>
            Фотогалерея Мюзикла
          </h2>
        </div>
        <p>
          Смотрите больше фотографий и видео  с нашими проектами в Instagram
        </p>
        <a href="http://instagram.com" target="_blank" class="instagram-link">
          Перейти в Instagram
        </a>
      </div>
      <div class="col-xl-8">
        <div class="photo-gallery__gallery">
          <div class="photo-gallery__gallery_img">
            <img src="img/gallery-9.jpg" alt="">
          </div>
          <div class="photo-gallery__gallery_img">
            <img src="img/gallery-10.jpg" alt="">
          </div>
          <div class="photo-gallery__gallery_img">
            <img src="img/gallery-11.jpg" alt="">
          </div>
          <div class="photo-gallery__gallery_img">
            <img src="img/gallery-12.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
