<section class="press-release">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="title title-left">
          <h2>
            Пресс-релиз
            Мюзикла
          </h2>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="press-release__text">
          <p>
            С момента премьеры мюзикл «Анна Каренина» сопровождают неизменные аншлаги. Спектакль стал лауреатом таких премий, как «Гвоздь сезона» и «Звезда Театрала» в номинации «Лучший музыкальный спектакль». Мюзикл вызывает большой интерес и в зарубежных странах. «Анна Каренина» стала первым российским мюзиклом, поставленным по лицензии за границей – в Южной Корее.
          </p>
          <p>
            Мюзикл посетили сотни тысяч восторженных зрителей. Захватывающая история любви, лучшие артисты российского мюзикла, великолепный вокал и эффектная хореография, пронзительная музыка в живом исполнении оркестра Театра оперетты — всё это сливается воедино в грандиозной, технически совершенной постановке, проникнутой атмосферой блеска и роскоши XIX века.          </p>
          <p>
            В труппе мюзикла – звёзды столичных мюзиклов: Екатерина Гусева, Дмитрий Ермак, Валерия Ланская, Наталия Быстрова, Сергей Ли, Андрей Бирин, Игорь Балалаев, Лика Рулла и др.
          </p>
          <p>
            Благодаря новейшим возможностям мультимедийных технологий зритель полностью погружается в события, разворачивающиеся на сцене: девять мобильных экранов, многотонная металлическая конструкция и сотни световых приборов объединяются в настоящую декорацию будущего, и создают стопроцентный эффект присутствия.
          </p>
          <p>
            С момента премьеры мюзикл «Анна Каренина» сопровождают неизменные аншлаги. Спектакль стал лауреатом таких премий, как «Гвоздь сезона» и «Звезда Театрала» в номинации «Лучший музыкальный спектакль». Мюзикл вызывает большой интерес и в зарубежных странах. «Анна Каренина» стала первым российским мюзиклом, поставленным по лицензии за границей – в Южной Корее.
          </p>
          <p>
            Мюзикл посетили сотни тысяч восторженных зрителей. Захватывающая история любви, лучшие артисты российского мюзикла, великолепный вокал и эффектная хореография, пронзительная музыка в живом исполнении оркестра Театра оперетты — всё это сливается воедино в грандиозной, технически совершенной постановке, проникнутой атмосферой блеска и роскоши XIX века.          </p>
          <p>
            В труппе мюзикла – звёзды столичных мюзиклов: Екатерина Гусева, Дмитрий Ермак, Валерия Ланская, Наталия Быстрова, Сергей Ли, Андрей Бирин, Игорь Балалаев, Лика Рулла и др.
          </p>
          <p>
            Благодаря новейшим возможностям мультимедийных технологий зритель полностью погружается в события, разворачивающиеся на сцене: девять мобильных экранов, многотонная металлическая конструкция и сотни световых приборов объединяются в настоящую декорацию будущего, и создают стопроцентный эффект присутствия.
          </p>
          <p>
            С момента премьеры мюзикл «Анна Каренина» сопровождают неизменные аншлаги. Спектакль стал лауреатом таких премий, как «Гвоздь сезона» и «Звезда Театрала» в номинации «Лучший музыкальный спектакль». Мюзикл вызывает большой интерес и в зарубежных странах. «Анна Каренина» стала первым российским мюзиклом, поставленным по лицензии за границей – в Южной Корее.
          </p>
          <p>
            Мюзикл посетили сотни тысяч восторженных зрителей. Захватывающая история любви, лучшие артисты российского мюзикла, великолепный вокал и эффектная хореография, пронзительная музыка в живом исполнении оркестра Театра оперетты — всё это сливается воедино в грандиозной, технически совершенной постановке, проникнутой атмосферой блеска и роскоши XIX века.          </p>
          <p>
            В труппе мюзикла – звёзды столичных мюзиклов: Екатерина Гусева, Дмитрий Ермак, Валерия Ланская, Наталия Быстрова, Сергей Ли, Андрей Бирин, Игорь Балалаев, Лика Рулла и др.
          </p>
          <p>
            Благодаря новейшим возможностям мультимедийных технологий зритель полностью погружается в события, разворачивающиеся на сцене: девять мобильных экранов, многотонная металлическая конструкция и сотни световых приборов объединяются в настоящую декорацию будущего, и создают стопроцентный эффект присутствия.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
