<section class="faq faq-page">
  <div class="container">
    <div class="faq__accordion">
      <div class="faq__wrapper">
        <div class="faq__head active">
          На мое имя оформлен заказ. Выкупать билеты должен именно я?
        </div>
        <div class="faq__toggle active">
          <p>
            Билеты за наличный расчет в кассе самовыкупа может выкупить любой человек, назвав номер заказа. Паспорт предъявлять не нужно. Оплаченные билеты можно получить в любой день вплоть до даты начала мероприятия, в день мероприятия в том числе.
          </p>
          <p>
            Оплаченные билеты можно получить в любой из касс в городе Москва.
          </p>
          <p>
            Кассиру необходимо назвать номер заказа, предъявить паспорт владельца банковской карты, которой производилась оплата заказа, и назвать 4 последние цифры самой карты (по требованию кассира).
          </p>
        </div>
      </div>
      <div class="faq__wrapper">
        <div class="faq__head">
          Являются ли билеты именными?
        </div>
        <div class="faq__toggle">
          <p>
            Билеты за наличный расчет в кассе самовыкупа может выкупить любой человек, назвав номер заказа. Паспорт предъявлять не нужно. Оплаченные билеты можно получить в любой день вплоть до даты начала мероприятия, в день мероприятия в том числе.
          </p>
          <p>
            Оплаченные билеты можно получить в любой из касс в городе Москва.
          </p>
          <p>
            Кассиру необходимо назвать номер заказа, предъявить паспорт владельца банковской карты, которой производилась оплата заказа, и назвать 4 последние цифры самой карты (по требованию кассира).
          </p>
        </div>
      </div>
      <div class="faq__wrapper">
        <div class="faq__head">
          Осуществляется ли доставка в другие города/страны?
        </div>
        <div class="faq__toggle">
          <p>
            Билеты за наличный расчет в кассе самовыкупа может выкупить любой человек, назвав номер заказа. Паспорт предъявлять не нужно. Оплаченные билеты можно получить в любой день вплоть до даты начала мероприятия, в день мероприятия в том числе.
          </p>
          <p>
            Оплаченные билеты можно получить в любой из касс в городе Москва.
          </p>
          <p>
            Кассиру необходимо назвать номер заказа, предъявить паспорт владельца банковской карты, которой производилась оплата заказа, и назвать 4 последние цифры самой карты (по требованию кассира).
          </p>
        </div>
      </div>
      <div class="faq__wrapper">
        <div class="faq__head">
          Что такое Сервисный сбор и за что он взимается?
        </div>
        <div class="faq__toggle">
          <p>
            Билеты за наличный расчет в кассе самовыкупа может выкупить любой человек, назвав номер заказа. Паспорт предъявлять не нужно. Оплаченные билеты можно получить в любой день вплоть до даты начала мероприятия, в день мероприятия в том числе.
          </p>
          <p>
            Оплаченные билеты можно получить в любой из касс в городе Москва.
          </p>
          <p>
            Кассиру необходимо назвать номер заказа, предъявить паспорт владельца банковской карты, которой производилась оплата заказа, и назвать 4 последние цифры самой карты (по требованию кассира).
          </p>
        </div>
      </div>
      <div class="faq__wrapper">
        <div class="faq__head">
          Что такое Сервисный сбор и за что он взимается?
        </div>
        <div class="faq__toggle">
          <p>
            Билеты за наличный расчет в кассе самовыкупа может выкупить любой человек, назвав номер заказа. Паспорт предъявлять не нужно. Оплаченные билеты можно получить в любой день вплоть до даты начала мероприятия, в день мероприятия в том числе.
          </p>
          <p>
            Оплаченные билеты можно получить в любой из касс в городе Москва.
          </p>
          <p>
            Кассиру необходимо назвать номер заказа, предъявить паспорт владельца банковской карты, которой производилась оплата заказа, и назвать 4 последние цифры самой карты (по требованию кассира).
          </p>
        </div>
      </div>
      <div class="faq__wrapper">
        <div class="faq__head">
          Что такое Сервисный сбор и за что он взимается?
        </div>
        <div class="faq__toggle">
          <p>
            Билеты за наличный расчет в кассе самовыкупа может выкупить любой человек, назвав номер заказа. Паспорт предъявлять не нужно. Оплаченные билеты можно получить в любой день вплоть до даты начала мероприятия, в день мероприятия в том числе.
          </p>
          <p>
            Оплаченные билеты можно получить в любой из касс в городе Москва.
          </p>
          <p>
            Кассиру необходимо назвать номер заказа, предъявить паспорт владельца банковской карты, которой производилась оплата заказа, и назвать 4 последние цифры самой карты (по требованию кассира).
          </p>
        </div>
      </div>
      <div class="faq__wrapper">
        <div class="faq__head">
          Что такое Сервисный сбор и за что он взимается?
        </div>
        <div class="faq__toggle">
          <p>
            Билеты за наличный расчет в кассе самовыкупа может выкупить любой человек, назвав номер заказа. Паспорт предъявлять не нужно. Оплаченные билеты можно получить в любой день вплоть до даты начала мероприятия, в день мероприятия в том числе.
          </p>
          <p>
            Оплаченные билеты можно получить в любой из касс в городе Москва.
          </p>
          <p>
            Кассиру необходимо назвать номер заказа, предъявить паспорт владельца банковской карты, которой производилась оплата заказа, и назвать 4 последние цифры самой карты (по требованию кассира).
          </p>
        </div>
      </div>
      <div class="faq__wrapper">
        <div class="faq__head">
          Что такое Сервисный сбор и за что он взимается?
        </div>
        <div class="faq__toggle">
          <p>
            Билеты за наличный расчет в кассе самовыкупа может выкупить любой человек, назвав номер заказа. Паспорт предъявлять не нужно. Оплаченные билеты можно получить в любой день вплоть до даты начала мероприятия, в день мероприятия в том числе.
          </p>
          <p>
            Оплаченные билеты можно получить в любой из касс в городе Москва.
          </p>
          <p>
            Кассиру необходимо назвать номер заказа, предъявить паспорт владельца банковской карты, которой производилась оплата заказа, и назвать 4 последние цифры самой карты (по требованию кассира).
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
