.icon-adv-1 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-adv-2 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-adv-3 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-adv-4 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-adv-5 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-adv-6 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-google-plus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-serv-1 {
  width: 0.86em;
  height: 1em;
  fill: initial;
}
.icon-serv-2 {
  width: 1.2em;
  height: 1em;
  fill: initial;
}
.icon-serv-3 {
  width: 1.25em;
  height: 1em;
  fill: initial;
}
.icon-serv-4 {
  width: 1.03em;
  height: 1em;
  fill: initial;
}
.icon-serv-5 {
  width: 0.82em;
  height: 1em;
  fill: initial;
}
.icon-serv-6 {
  width: 1.09em;
  height: 1em;
  fill: initial;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-youtube {
  width: 1em;
  height: 1em;
  fill: initial;
}
