<section class="news more-news">
  <div class="container">
    <div class="title">
      <h2>
        похожие Новости
      </h2>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-xl-3">
        <div class="activity__card contests__card">
          <div class="activity__card_img contests__card_img">
            <img src="img/contest.jpg" alt="">
          </div>
          <div class="activity__card_text contests__card_text">
            <div class="activity__card_wrapper contests__card_wrapper">
              <div class="content">
                <div class="data">
                  22 <span>ДЕК.</span> – 07 <span>ЯНВ.</span>
                </div>
                <h3>Внимание! Изменение сеансов мероприятия ЕВГЕНИЙ ПЛЮЩЕНКО</h3>
              </div>
              <a href="#" class="button button-blue button-card">
                подробнее
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-xl-3">
        <div class="activity__card contests__card">
          <div class="activity__card_img contests__card_img">
            <img src="img/contest.jpg" alt="">
          </div>
          <div class="activity__card_text contests__card_text">
            <div class="activity__card_wrapper contests__card_wrapper">
              <div class="content">
                <div class="data">
                  22 <span>ДЕК.</span> – 07 <span>ЯНВ.</span>
                </div>
                <h3>Изменение сеансов мероприятия</h3>
              </div>
              <a href="#" class="button button-blue button-card">
                подробнее
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-xl-3">
        <div class="activity__card contests__card">
          <div class="activity__card_img contests__card_img">
            <img src="img/contest.jpg" alt="">
          </div>
          <div class="activity__card_text contests__card_text">
            <div class="activity__card_wrapper contests__card_wrapper">
              <div class="content">
                <div class="data">
                  22 <span>ДЕК.</span> – 07 <span>ЯНВ.</span>
                </div>
                <h3>мероприятия ЕВГЕНИЙ ПЛЮЩЕНКО</h3>
              </div>
              <a href="#" class="button button-blue button-card">
                подробнее
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-xl-3">
        <div class="activity__card contests__card">
          <div class="activity__card_img contests__card_img">
            <img src="img/contest.jpg" alt="">
          </div>
          <div class="activity__card_text contests__card_text">
            <div class="activity__card_wrapper contests__card_wrapper">
              <div class="content">
                <div class="data">
                  22 <span>ДЕК.</span> – 07 <span>ЯНВ.</span>
                </div>
                <h3>Внимание! Изменение сеансов  ЕВГЕНИЙ ПЛЮЩЕНКО</h3>
              </div>
              <a href="#" class="button button-blue button-card">
                подробнее
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <a href="#" class="button button-small button-gray button-center">
        все новости
      </a>
    </div>
  </div>
</section>
