<section class="open-news">
  <div class="container">
    <div class="open-news__wrapper">
      <div class="open-news__img">
        <img src="img/open-news-loboda.jpg" alt="">
      </div>
      <div class="open-news__text">
        <h3>
          Концерт LOBODA, запланированный <br> в Крокус Сити Холл
        </h3>
        <ul>
          <li>
            на 25 октября 2018 года(четверг) <span> ПЕРЕНОСИТСЯ на 17 января 2019 года (четверг) </span>
          </li>
          <li>
            на 26 октября 2018 года (пятница)<span> ПЕРЕНОСИТСЯ на 18 января 2019 года (пятница) </span>
          </li>
          <li>
            на 28 октября 2018 года (воскресенье) <span> ПЕРЕНОСИТСЯ на 20 января 2019 года (воскресенье) </span>
          </li>
        </ul>
        <p>
          Все ранее купленные билеты действительны для прохода на новые даты. <br>
          Обменивать их не нужно.
        </p>
        <p>
          <span>Возврат</span> денежных средств клиентам, которые не могут посетить концерт в назначенную дату, <span> осуществляется с 25 октября по 11 ноября 2018 года включительно </span>
        </p>
        <p>
          1. Для того, чтобы оформить возврат за билеты на Бланках, необходимо обратиться в центральную кассу КАССИР.РУ по адресу Театральный проезд, д.5/1 (ст.м. Лубянка, Центральный детский магазин, минус 1 этаж) ежедневно с 11:00 до 19:00.  При себе иметь Билеты и паспорт.
        </p>
        <p>
          2. Для того, чтобы оформить возврат денежных средств за Электронные билеты, необходимо отправить на адрес vozvrat@msk.kassir.ru скан следующих документов:
        </p>
        <ul>
          <li>
            электронные билеты;
          </li>
          <li>
            скан/фото паспорта 1-ая страница;
          </li>
          <li>
            скан/фото заполненного и подписанного заявления (образец здесь https://msk.kassir.ru/pages/vozvrat)
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
