.about
	padding: 20px 0 90px
	+r(991)
		padding: 20px 0 70px
	+r(767)
		padding: 50px 0
	+r(565)
		padding: 40px 0
	&__wrapper
		display: flex
		+r(767)
			display: block
	&__img
		width: calc( 50% + 15px)
		overflow: hidden

		+r(767)
			width: 100%
		img
			object-fit: cover
			width: 600px
			height: 720px
			+r(1199)
				width: 480px
				height: calc( 100% - 70px )
			+r(767)
				height: auto
				width: 100%
	&__text
		width: calc( 50% - 15px)
		padding: 200px 0 50px 68px
		position: relative
		+r(1199)
			padding: 50px 0 30px 30px
		+r(767)
			width: 100%
			padding: 30px 0
			text-align: center
		.title
			margin-bottom: 25px
		p
			font-family: $default-font
			font-weight: 400
			font-size: 14px
			color: $dove-gray
			line-height: 1.5em
			margin-bottom: 10px
			+r(767)
				text-align: left
			&:last-of-type
				margin-bottom: 45px
				+r(767)
					margin-bottom: 25px
	.sub-description
		position: absolute
		top: 50px
		left: 0
		z-index: -1
		+r(1199)
			display: none

