.activity
	padding: 0 0 80px
	+r(991)
		padding: 0 0 70px
	+r(767)
		padding: 50px 0
	+r(565)
		padding: 40px 0
	&__card
		height: 100%
		margin-bottom: 30px
		overflow: hidden
		transition: all .3s ease
		cursor: pointer
		width: 100%
		&_img
			img
				width: 100%
				height: auto
				object-fit: cover
				display: block
		&_text
			padding: 18px 30px 40px
			display: block
			min-height: 170px
			border: 1px solid $mercury
		&:hover
			.discount
				display: none
			.activity__card_img
				height: calc( 100% - 30px)
				img
					height: 100%
					z-index: -1
					display: block
			.activity__card_text
				position: absolute
				z-index: 1
				top: 0
				bottom: 30px
				right: 15px
				left: 15px
				background: rgba(0,0,0,.9)
				padding: 15px
				&::before
					content: url('../img/card-hover.svg')
					position: absolute
					top: 0
					left: 0
					right: 0
					bottom: 0
					overflow: hidden
					z-index: -1
					opacity: 0.8
			.activity__card_wrapper
				height: 100%
				display: flex
				flex-direction: column
				justify-content: space-between
				align-items: center
				border: 2px solid $white
				padding: 65px 20px
				text-align: center
				.data, .arena
					color: $silver-chalice
				.price, h3
					color: $white
					text-align: center
				h3
					max-height: 132px
				.button-card
					display: block
