.advantages
	padding: 80px 0
	+r(991)
		padding: 70px 0
	+r(767)
		padding: 50px 0
	+r(565)
		padding: 40px 0
	&__card
		display: flex
		margin-bottom: 50px
		+r(575)
			justify-content: center
			margin-bottom: 20px
		+r(380)
			justify-content: flex-start
		&_img
			width: 70px
			height: 70px
			background: $white
			display: flex
			align-items: center
			justify-content: center
			margin-right: 28px
			border-radius: 50%
			box-shadow: 0 10px 40px 0 rgba(0, 85, 222, 0.3)
			.icon
				position: relative
				font-size: 36px
				fill: #f44d69
			span
				font-family: $title-font

				font-size: 37px
				color: $carnation
			+r(420)
				margin-right: 30px
		&_text
			width: 270px
			margin-top: 19px
			+r(991)
				width: 230px
			+r(767)
				width: 400px
				br
					display: none
			+r(575)
				width: 240px
			+r(420)
				width: 180px
				margin-top: 0
			h3
				font-family: $title-font
				font-weight: 700
				font-size: 30px
				color: $black
				letter-spacing: 0.075em
				margin-bottom: 15px
				line-height: 1em
				+r(565)
					font-size: 24px
					margin-bottom: 10px
			p
				font-size: 14px
				line-height: 1.5em
.cards-section
	.col
		.advantages__card_img
			&::before
				z-index: -1
		&:nth-of-type(6n+1)
			.advantages__card_img
				&::before
					content: url("../img/glass-1.svg")
					width: 110px
					height: 140px
					position: absolute
					left: -10px
					top: -40px

					+r(576)
						content: none
		&:nth-of-type(6n+2)
			.advantages__card_img
				&::before
					content: url("../img/glass-2.svg")
					width: 90px
					height: 140px
					position: absolute
					left: 5px
					top: -34px
					+r(576)
						content: none
		&:nth-of-type(6n+3)
			.advantages__card_img
				&::before
					content: url("../img/glass-3.svg")
					width: 112px
					height: 140px
					position: absolute
					left: -4px
					top: -27px
					+r(576)
						content: none
		&:nth-of-type(6n+4)
			.advantages__card_img
				&::before
					content: url("../img/glass-3.svg")
					width: 112px
					height: 140px
					position: absolute
					left: -18px
					top: -20px
					+r(576)
						content: none
		&:nth-of-type(6n+5)
			.advantages__card_img
				&::before
					content: url("../img/glass-1.svg")
					width: 110px
					height: 140px
					position: absolute
					left: -10px
					top: -30px
					+r(576)
						content: none
		&:nth-of-type(6n+6)
			.advantages__card_img
				&::before
					content: url("../img/glass-2.svg")
					width: 90px
					height: 140px
					position: absolute
					left: 5px
					top: -24px
					+r(576)
						content: none
