.artists
	padding: 80px 0 60px
	background: url('../img/artists.jpg') no-repeat top center
	background-size: cover
	color: $white
	+r(991)
		padding: 70px 0
	+r(767)
		padding: 50px 0
	+r(565)
		padding: 40px 0
	.title
		margin-bottom: 40px
	&__block
		text-align: center
		margin-bottom: 55px
		&_img
			width: 200px
			height: 200px
			border-radius: 50%
			border: 10px solid $white
			overflow: hidden
			margin: 0 auto 28px
			img
				width: 180px
				height: 180px
				object-fit: cover
		h3
			font-family: $title-font
			font-weight: 700
			font-size: 24px
			letter-spacing: 0.05em
			margin-bottom: 10px
		span
			font-family: $title-font
			font-weight: 400
			font-size: 16px
			color: $dove-gray
			margin-bottom: 9px
			display: inline-block
		p
			font-size:  14px
			line-height: 1.5em
