.contests
	padding: 30px 0 80px
	+r(991)
		padding: 30px 0 70px
	+r(767)
		padding: 30px 0 50px
	+r(565)
		padding: 40px 0
	&__card
		height: 100%
		&_img
			img
				height: auto
		&_text
			padding: 25px 30px 40px
			.data
				margin-bottom: 9px
			h3
				font-size: 22px
				&::before, &::after
					content: none
