.contacts
	padding-bottom: 75px
	+r(767)
		padding-bottom: 40px
	&__wrapper
		padding-top: 75px
		+r(991)
			padding-top: 30px
	&__info
		p
			font-family: $default-font
			font-weight: 400
			font-size: 14px
			color: $tundora
			line-height: 1.5em
			margin-bottom: 15px
			&:last-of-type
				margin-bottom: 50px
				+r(767)
					margin-bottom: 20px
	&__text
		padding-left: 70px
		padding-top: 7px
		+r(1199)
			padding-left: 0
		+r(991)
			padding-top: 0
		.title
			margin-bottom: 17px
		p
			font-family: $default-font
			font-weight: 400
			font-size: 14px
			color: $tundora
			line-height: 1.5em
			margin-bottom: 15px
			&:last-of-type
				margin-bottom: 50px
				+r(767)
					margin-bottom: 20px
	&__block
		&_elem
			padding-left: 30px
			margin-bottom: 21px
			line-height: 1.5em
			color: $tundora
			position: relative
			&:nth-of-type(1)
				&::before
					content: url('../img/location.svg')
					width: 13px
					height: 16px
					position: absolute
					left: 2px
					top: 4px
			&:nth-of-type(2)
				&::before
					content: url('../img/mobile-phone.svg')
					width: 8px
					height: 16px
					position: absolute
					left: 4px
					top: 4px
			&:nth-of-type(3)
				&::before
					content: url('../img/telephone.svg')
					width: 16px
					height: 16px
					position: absolute
					left: 1px
					top: 4px
			&:nth-of-type(4)
				&::before
					content: url('../img/mail.svg')
					width: 16px
					height: 8px
					position: absolute
					left: 2px
					top: 1px
			&:nth-of-type(5)
				&::before
					content: url('../img/navigation-arrow.svg')
					width: 16px
					height: 8px
					position: absolute
					left: 2px
					top: 4px
			a
				transition: all .3s ease
				color: $tundora
				&:hover
					color: $lochmara
		+r(991)
			margin-bottom: 30px
#map
	position: absolute
	width: 40%
	height: 620px
	right: 60%
	+r(1200)
		position: relative
		width: 100%
		right: 0
		height: 300px
	+r(575)
		width: calc(100% + 30px)
		margin-left: -15px
		margin-right: -15px
