.faq
	position: relative
	padding: 30px 0 80px
	background-size: cover
	+r(991)
		padding: 30px 0 50px
	+r(565)
		padding: 40px 0
	&-page
		padding-bottom: 0
		+r(991)
			padding: 30px 0 0
		+r(565)
			padding: 40px 0 0
	.title
		margin-bottom: 30px
	&__accordion
		margin-bottom: 30px
	&__wrapper
		position: relative
		width: 100%
		padding: 0 100px
		+r(991)
			padding: 0
		&:last-of-type
			.faq__head
				border-bottom: none
	&__head
		width: 100%
		display: flex
		align-items: center
		background: $white
		padding: 25px 40px 25px 0
		position: relative
		font-size: 24px
		font-family: $title-font
		font-weight: 700
		color: $black
		line-height: 1em
		letter-spacing: 0.05em
		cursor: pointer
		border-bottom: 1px solid $mercury
		&::after
			position: absolute
			content: url('../img/faq-close.svg')
			top: 50%
			right: 0
			width: 34px
			height: 34px
			transform: translateY(-50%)
			transition: all .3s ease
		&.active
			color: $lochmara
			border-bottom: none
			&::after
				content: url('../img/faq-open.svg')
	&__toggle
		display: none
		width: 100%
		background: $white
		padding: 5px 100px 25px 43px
		font-family: $default-font
		font-weight: 400
		font-size: 14px
		color: $tundora
		line-height: 1.5em
		border-bottom: 1px solid $mercury
		+r(576)
			padding: 5px 20px 25px 20px
		p
			color: $mine-shaft
			margin-bottom: 10px
			&:last-child
				margin-bottom: 0
		&.active
			display: block

