.festival
	padding: 30px 0 80px
	+r(991)
		padding: 30px 0 70px
	+r(767)
		padding: 30px 0 50px
	+r(565)
		padding: 40px 0
	&__card
		display: flex
		border: 1px solid $mercury
		+r(1199)
			flex-direction: column
		&_img
			width: 50%
			overflow: hidden
			height: 250px
			+r(1199)
				width: 100%
			+r(991)
				height: 150px
			img
				width: 100%
				height: auto
		&_text
			width: 50%
			padding: 50px
			height: 250px
			+r(1199)
				width: 100%
				height: auto
			+r(991)
				padding: 25px
	.content
		&-flex
			width: 100%
			display: flex
			align-items: center
			justify-content: space-between
			+r(575)
				flex-direction: column
				align-items: flex-start
				.price
					margin-bottom: 15px
				.button
					margin: 0 auto
