.first-screen
	background-color: $black
	&__slider
		.swiper-slide
			text-align: center
			color: $white
			height: 100vh
			+r(991)
				height: auto
			+r(575)
				.container
					width: auto
	&__block
		left: 0
		right: 0
		top: 0
		bottom: 0
		height: 100vh
		background-position: center
		background-repeat: no-repeat
		background-color: $black
		background-size: cover
		padding: 40.6vh 0 7vh
		position: relative
		&::before
			content: ''
			background: url('../img/event-before.png') repeat center
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
		+r(991)
			padding: 200px 0 80px
			height: 100%
		&_wrapper
			display: flex
			flex-direction: column
			position: relative
			min-height: 305px
		img
			width: 100%
			height: 100%
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
		h3
			font-size: 20px
			font-family: $default-font
			font-weight: 400
			line-height: 1em
			margin-bottom: 3.5vh
			+r(565)
				font-size: 16px
		h2
			font-family: $title-font
			font-weight: 700
			font-size: 108px
			letter-spacing: 0.1em
			line-height: 1em
			position: relative
			max-height: 180px
			overflow: hidden
			padding: 0 45px
			margin-bottom: 15px
			+r(991)
				padding: 0
				max-height: none
			&::before
				content: '«'
			&::after
				content: '»'
	.swiper-pagination-bullet
		width: 30px
		height: 1px
		background: $white
		opacity: 1
		border-radius: 0
	.swiper-pagination-bullet-active
		background: $lochmara
		height: 3px
	.swiper-pagination
		display: flex
		align-items: center
		justify-content: center
		bottom: 7.5vh
	.swiper-button-prev,.swiper-button-next
		background-position: center
		background-size: contain
		width: 34px
		height: 34px
		+r(991)
			display: none
	.swiper-button-prev
		background-image: url('../img/left-arrow.svg')
		left: 18vw
		+r(1800)
			left: 1vw

	.swiper-button-next
		background-image: url('../img/right-arrow.svg')
		right: 18vw
		+r(1800)
			right: 1vw

