.footer
	padding: 87px 0 0
	+r(991)
		padding: 50px 0 0
	+r(767)
		padding: 40px 0 0
	&-logo
		margin-bottom: 20px
		a
			display: block
			+r(565)
				text-align: center
		img
			width: 120px
			height: auto
		p
			font-family: $default-font
			font-size: 11px
			color: $dove-gray
			line-height: 1.75em
			+r(565)
				text-align: center
	&__contacts
		display: flex
		flex-wrap: wrap
		&_elem
			padding-left: 35px
			font-size: 12px
			color: $tundora
			position: relative
			&:nth-of-type(1)
				&::before
					content: url('../img/location.svg')
					width: 13px
					height: 16px
					position: absolute
					left: 2px
					top: 4px
			&:nth-of-type(2)
				&::before
					content: url('../img/mobile-phone.svg')
					width: 8px
					height: 16px
					position: absolute
					left: 5px
					top: 4px
			&:nth-of-type(3)
				&::before
					content: url('../img/telephone.svg')
					width: 16px
					height: 16px
					position: absolute
					left: 1px
					top: 4px
			&:nth-of-type(4)
				&::before
					content: url('../img/mail.svg')
					width: 16px
					height: 8px
					position: absolute
					left: 2px
					top: 1px
			&:nth-of-type(5)
				&::before
					content: url('../img/navigation-arrow.svg')
					width: 16px
					height: 8px
					position: absolute
					left: 2px
					top: 4px
			&:nth-of-type(odd)
				width: 55%
				+r(575)
					width: 100%
			&:nth-of-type(even)
				width: 45%
				+r(575)
					width: 100%
			a
				color: $tundora
				transition: all .3s ease
				&:hover
					color: $lochmara
		&_wrapper
			margin-left: 40px
			margin-bottom: 30px
			+r(1199)
				margin-left: 0
	h3
		font-family: $title-font
		font-weight: 700
		font-size: 24px
		color: $mine-shaft
		margin-bottom: 20px
		letter-spacing: .05em
		+r(565)
			text-align: center
	&__social
		margin-bottom: 30px
		+r(565)
			text-align: center
		a
			display: inline-block
			margin-right: 10px
			&:last-of-type
				margin-right: 0
			.icon
				fill: $lochmara
				font-size: 24px
				transition: all .3s ease
				&:hover
					fill: $blue-charcoal
			.icon-google-plus
				font-size: 30px
	.copyright
		padding: 15px 0 35px
		display: flex
		justify-content: space-between
		width: 100%
		border-top: 1px solid $blue-charcoal
		+r(767)
			display: block
			text-align: center
		p
			font-weight: 500
			font-size: 11px
			color: $silver-chalice
			a
				text-decoration: underline
				color: $lochmara
				&:hover
					text-decoration: none
