.header
	position: fixed
	left: 0
	top: 0
	right: 0
	background: transparent
	z-index: 1000
	transition: all 1s ease
	padding: 35px 0
	color: $white
	+r(767)
		padding: 10px 0
	&.scroll
		transition: all 1s ease
		background: rgba(0, 0, 0, 1)
	&__wrapper
		position: relative
		height: auto
		display: flex
		justify-content: space-between
		align-items: center
.logo
	position: absolute
	left: 50%
	transform: translateX(-50%) translateY(46px)
	transition: all 1s ease
	a
		display: block
	img
		width: 195px
		height: 180px
		transition: all 1s ease
	&.scroll
		transform: translateX(-50%) translateY(0)
		img
			width: 100px
		+r(767)
			transform: translate(-50% ,0)
			img
				width: 50px
	+r(991)
		transform: translateX(-50%) translateY(0)
		img
			width: 100px
	+r(767)
		transform: translate(-50% ,0)
		img
			width: 50px
	+r(450)
		display: none
.callback
	position: relative
	text-align: right
	a
		display: block
		&.callback_tel
			color: $white
			font-family: $title-font
			font-size: 24px
			letter-spacing: 0.075em
			font-weight: 700
			position: relative
			&:before
				position: absolute
				content: ''
				width: 0
				height: 2px
				background: $white
				bottom: -1px
				left: auto
				right: 0
				z-index: -1
				transition: all .5s ease
			&:hover
				&:before
					position: absolute
					content: ''
					width: 100%
					bottom: -1px
					left: 0
					right: 0
					z-index: -1
		&.callback_open
			margin-top: 15px
			display: inline-block
			text-transform: uppercase
			font-size: 12px
			line-height: 1em
			color: $lochmara
			position: relative
			+r(565)
				margin-top: 0
			&:before
				position: absolute
				content: ''
				width: 100%
				height: 1px
				background: $lochmara
				bottom: -1px
				left: auto
				right: 0
				z-index: -1
				transition: all .5s ease
			&:hover
				&:before
					position: absolute
					content: ''
					width: 0
					bottom: -1px
					left: 0
					right: 0
					z-index: -1
.menu
	transition: all 1.2s ease
	&.active
		transition: all 1.2s ease
		&::before
			content: ''
			width: 100%
			height: 106px
			max-width: 320px
			position: absolute
			background: #000
			top: 0
			z-index: 1
			transition: all 1.2s ease
	.row
		.col
			height: 100vh
			left: 0
			right: 0
			overflow: auto
			+r(991)
				z-index: 1050
			&.overlay
				background: rgba(0, 0, 0, 1)
				position: absolute
				top: -200vh
				width: 320px
			ul
				position: absolute
				width: 100%
				max-width: 1170px
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
				font-family: $title-font
				font-size: 24px
				display: flex
				justify-content: space-between
				flex-direction: column
				padding: 50px 0 30px
				+r(991)
					position: relative
					transform: translate(-50%, 0)
					flex-direction: column
					padding: 130px 0 30px
				li
					transform: translateY(10px)
					text-align: center
					padding: 5px 0

					a
						color: $white
						position: relative
						padding: 0 15px
						&:before
							position: absolute
							content: ''
							width: 0
							height: 2px
							background: $lochmara
							bottom: 0
							left: auto
							right: 0
							z-index: -1
							transition: all .5s ease
						&:hover
							&:before
								position: absolute
								content: ''
								width: 100%
								bottom: 0
								left: 0
								right: 0
								z-index: -1
	&-btn
		position: relative
		width: 37px
		height: 37px
		border-radius: 50%
		border: 2px solid $white
		border-bottom: 1px solid transparent
		transition: all .6s ease
		transform: rotate(45deg)
		cursor: pointer
		&:hover
			transform: rotate(405deg)
			.bar
				background: transparent
				&::before, &::after
					top: 0
				&::before
					transform: rotate(90deg)
		.bar
			width: 17px
			height: 2px
			background: $white
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50% ,-50%) rotate(-45deg)
			transition: all .6s ease
			border-radius: 2px
			&::before, &::after
				content: ''
				position: absolute
				width: 17px
				height: 2px
				border-radius: 2px
				background: $white
				transition: all .6s ease
			&::before
				top: -8px
			&::after
				top: 8px
		&.active
			transform: rotate(405deg)
			.bar
				background: transparent
				&::before, &::after
					transform: rotate(45deg)
					top: 0
				&::before
					transform: rotate(135deg)
		&__wrapper
			margin-bottom: 3px
			display: flex
			align-items: center
			z-index: 1100

	&-text
		margin-left: 11px
		font-family:  $title-font
		font-size: 24px
		line-height: 1em
		letter-spacing: 0.075em
		cursor: pointer

