.input-wrapper
	position: relative
label
	&.error
		position: absolute
		top: -15px
		left: 0
		right: 0
		text-align: center
		background: #000
		color: $white

.modal
	background: $white
	margin-top: 5%
	margin-bottom: 5%
	transform: scale(.8)
	max-width: 496px
.popup_close
	position: absolute
	top: 20px
	right: 20px
	background: transparent
	font-size: 30px
	transition: color .3s linear
	border: 0
	cursor: pointer
	font-family: $default-font
	&:hover
		color: red
.popup_visible
	#callback, #thanks, #venues
		transform: scale(1)
#venues
	a
		color: $mine-shaft
		transition: all .3s ease
		position: relative
		padding-right: 20px
		display: inline-block
		&:hover
			color: $lochmara
		&.active
			color: $lochmara
			font-weight: 600
			&::after
				content: '+'
				position: absolute
				right: 0

#thanks
	h3
		margin-bottom: 0
	p
		font-family: $default-font
		font-weight: 600
		color: $mine-shaft
		text-align: center
