.partners
	background: $alabaster
	padding: 80px 0 100px
	+r(991)
		padding: 70px 0
	+r(767)
		padding: 50px 0 60px
	+r(565)
		padding: 40px 0 60px
	&-slider
		.slide
			display: flex
			align-items: center
			justify-content: center
			height: 80px
			img
				padding: 0 5px
				max-height: 80px
				max-width: 145px
				object-fit: contain
		.slick-dots
			position: absolute
			bottom: -30px
			list-style: none
			display: block
			text-align: center
			padding: 0
			width: 100%
			li
				position: relative
				display: inline-block
				cursor: pointer
				button
					display: block
					padding: 3px
					background: none
					outline: none
					line-height: 0
					font-size: 0
					color: red
					cursor: pointer
					&:before
						content: ""
						display: block
						height: 3px
						width: 30px
						box-sizing: border-box
						border-radius: 0
						background: #979795
						transition: all 0.1s ease
					&:hover
						&:before
							background: #4E4E4E
				&.slick-active button:before
					background: $lochmara
