.reviews
	padding: 80px 0 100px
	min-height: 730px
	background: url('../img/social-bg.jpg') center no-repeat
	background-size: cover
	+r(991)
		padding: 50px 0
	+r(767)
		.title
			margin-bottom: 10px
	&__instagram-slider
		margin-top: 110px
		margin-right: 70px
		padding-bottom: 60px
		max-width: 300px
		width: 100%
		height: 500px
		+r(767)
			margin: 15px auto 0
		&_link
			height: 438px
			.instagram-media
				min-width: 295px!important
				max-width: 300px!important
	&__slider
		padding-top: 55px
		padding-bottom: 60px
		&_img
			position: absolute
			right: 32px
			top: -38px
			width: 80px
			height: 80px
			overflow: hidden
			border-radius: 50%
			border: 6px solid $white
			img
				width: 80px
				height: 80px
				object-fit: cover
		&_text
			max-height: 162px
			overflow: hidden
		.swiper-slide
			background: $white
			position: relative
			z-index: 100
			&__wrapper
				padding: 47px 29px 14px
			h4
				font-family: $title-font
				font-weight: 700
				font-size: 20px
				line-height: 1em
				letter-spacing: .05em
				margin-bottom: 13px
				max-height: 40px
				overflow: hidden
			p
				font-style: italic
				font-size: 12px
				line-height: 1.75em
				margin-bottom: 10px
				&:last-of-type
					margin-bottom: 0
	.swiper-pagination-bullet
		width: 30px
		height: 1px
		background: $white
		opacity: 1
		border-radius: 0
	.swiper-pagination-bullet-active
		background: $lochmara
		height: 3px
	.swiper-pagination
		display: flex
		align-items: center
		justify-content: center
		bottom: 17px
	.swiper-button-prev,.swiper-button-next
		background-position: center
		background-size: contain
		top: 95%
		width: 34px
		height: 34px
	.swiper-button-prev
		background-image: url('../img/left-arrow.svg')
		left: auto
		right: 47px
		+r(767)
			right: 52%
	.swiper-button-next
		background-image: url('../img/right-arrow.svg')
		right: 0
		+r(767)
			right: auto
			left: 52%
