.services
	padding: 80px 0
	+r(991)
		padding: 70px 0
	+r(767)
		padding: 50px 0
	+r(565)
		padding: 40px 0
	&__cards
		padding-top: 20px
		+r(1200)
			padding-top: 0
	.title
		margin-bottom: 30px
	.button
		+r(1200)
			margin-bottom: 30px
.form
	padding: 50px 50px 56px
	border: 5px solid $tundora
	+r(565)
		padding: 25px 10px
	h3
		font-family: $title-font
		font-weight: 700
		font-size: 32px
		color: $mine-shaft
		text-align: center
		padding: 0 16px
		line-height: 1.2em
		letter-spacing: 0.05em
		margin-bottom: 23px
	input
		width: 100%
		border: 1px solid $nobel
		color: $tundora
		padding: 14px 18px
		margin-bottom: 17px
		font-family: $default-font
		font-size: 14px
		outline: none
		box-shadow: none
		border-radius: 0
		-webkit-appearance: none
		-moz-appearance: none
	.button
		width: 100%
		margin: 0
